[2016-05-04 15:46] locks opened #266 "Make a pretty LTS graph"
See @mixonic's graph in [Announcing Ember's First LTS](http://emberjs.com/blog/2016/02/25/announcing-embers-first-lts.html).
[Node's LTS schedule](https://github.com/nodejs/LTS#lts_schedule) also has a similar graph.

Using d3 possibly? Should be self-updating with manual overrides. This could be developed as a tidy lil' component so we don't bikeshed about where it should go.

[2017-10-07 13:33] locks opened #275 "Add a chevron indicator for collapsed/expanded sections"
See https://developer.microsoft.com/en-us/microsoft-edge/platform/status/beacon/ on the right.

cc @MelSumner

[2017-10-07 13:37] locks opened #276 "Update statusboard to use correct ember-styleguide component"
Update the statusboard page to use the accordion in the statusboard, so we have collapsing and expanding sections.

[2017-10-20 11:23] joukevandermaas opened #265 "Communicate that Ember js/data/cli are on a shared release cycle"
The current builds page only really mentions Ember.js, but the Ember project now consists of at least three components: Ember.js, Ember Data and Ember CLI. The landing page's copy should be updated to include the following information:

1. Ember JS/CLI/Data are on a shared six-week release cycle
2. They have the same major/minor version number (but can have different patch versions)
3. **(maybe)**

[2018-01-16 01:41] MelSumner opened #264 "Remove sidebar"
The various builds will be covered in the new navbar.

- [ ] Remove the sidebar for this app.
- [ ] ensure that the main content area takes up the full width of the page

[2018-02-05 03:03] jenweber opened #274 "Fix footer icons"
They are broken because they depend on a font that's not installed. Rather than add the font, locate the github, twitter, and google plus SVGs used in Ember-API-docs, save them, and replace the icons in the footer.

This is a temporary fix until the Ember-styleguide component is ready.

[2018-02-08 03:40] rwwagner90 opened #263 "Pull from json for beta?"
@rwjblue should we pull the current beta version from http://builds.emberjs.com/beta.json to auto update the beta version and where we are on the progress to the next release?

[2018-03-08 04:28] jenweber opened #262 "Show hint to new users telling how to install the latest stable cli normally"
Someone new who looks at [this page](https://emberjs.com/builds/release/) might miss the memo that the builds from source are for advanced use cases - mostly developers for ember itself or apps with edge cases that need to get the absolute latest code.

Add a note to the top that most people who are getting started with Ember should refer to the quickstart guide to download the latest stable cli,

[2018-05-03 10:03] mansona opened #289 "Update links from emberjs.com to `/release/` to avoid extra redirect"
Currently when you go to `/` on this app it automatically redirects you to `/release/` but if we have the power to update links we should link directly to release 💪

[2018-05-24 17:41] Gaurav0 opened #273 "Add Ember Fastboot (back?) to statusboard"

[2018-05-24 17:43] Gaurav0 opened #272 "For "In Implementation" features or "Shipped" features not on by default, link to addon"

[2018-05-24 17:51] acorncom opened #271 "Possible additional items to add to the status board"
- [ ] Statusboard (`#-team-learning`)
- [ ] Marketing/website push  (`#wb-marketing` / `#st-website`)
- [ ] Infrastructure modernization: dog-fooding our work (`#-team-learning`)
- [ ] Ember Data modernization. Could make folks nervous, so let's be careful on how we describe this  (`#dev-ember-data`)
- [ ] jQuery removal. Could also make folks nervous to hear us wondering about this (`#dev-jquery-

[2018-05-24 18:32] knownasilya opened #270 "Idea: Filters based on status, etc"
Seems like as more things get shipped, we'll see those shipped items being "clutter" that makes it hard to see the other items, especially since there is no sort by status.

An idea might be to put them in another view, like tab based, or even better, adding filters that don't enable "shipped" by default.

[2018-05-24 18:34] knownasilya opened #269 "Idea: Add date updated/history"
It's hard to know if there has been any movement on something without any dates. Something like a date last updated would be a good start. Going further I'd love to see a history with dates.

- RFC Submitted - May 2017
- RFC Accepted - June 2017
- In Progress - June 2017

[2018-05-25 21:11] MelSumner opened #268 "Gather Items to track on Statusboard"
- gather the items to be tracked on the status board.
- add them to the app in a data/projects.json file

Note: anyone who takes on this essential task should note that the final structure may differ from what you submit. Please don't take it personally. We'll need to figure out exactly what we want to track, and as such this might mean a few iterations. Thank you _so_ much for helping!!

[2018-06-20 06:46] mansona opened #7 "Add the Community Page"
## Goal
The goal of this issue is to recreate the Community Page https://emberjs.com/community/ in an Ember app. The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

## Criteria
- [ ] Add route: /community
- [ ] The content look should be the same as the live site
- [ ] use ember

[2018-06-20 06:46] mansona opened #8 "Add the Community Meetups page"
## Goal
The goal of this issue is to recreate the page https://emberjs.com/community/meetups in an Ember app.  The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

## Criteria
- [ ] Add route: /community/meetups
- [ ] The content look should be the same as the live site
- [ ] use

[2018-06-20 06:46] mansona opened #9 "Convert the Meetup Getting Started page https://emberjs.com/community/meetups-getting-started/"
The goal of this issue is to recreate the Meetup Getting Started page https://emberjs.com/community/meetups-getting-started/ in an Ember app. The routing names and the content look should be the same as the live site. The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

To get st

[2018-06-20 06:46] mansona opened #10 "Convert the Meetup Assets page"
## Goal
The goal of this issue is to recreate the Meetup Assets page https://emberjs.com/meetup-assets/  in an Ember app. The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

## Criteria
- [ ] Add route: `/community/meetups/assets`
- [ ] The content look should be the same as the

[2018-06-20 06:47] mansona opened #11 "Convert the Ember Users page https://emberjs.com/ember-users/"
The goal of this issue is to recreate the Ember Users page https://emberjs.com/ember-users/  in an Ember app. The routing names and the content look should be the same as the live site. The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

To get started with this issue, please ad

[2018-06-20 06:47] mansona opened #12 "Convert the Guidelines page https://emberjs.com/guidelines/"
The goal of this issue is to recreate the Guidelines page https://emberjs.com/guidelines/  in an Ember app. The routing names and the content look should be the same as the live site. The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

To get started with this issue, please add

[2018-06-20 06:47] mansona opened #13 "Add the Learn page"
## Goal
The goal of this issue is to recreate the page https://emberjs.com/learn/ in an Ember app.  The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

## Criteria
- [ ] Add route: /learn
- [ ] The content look should be the same as the live site
- [ ] use ember-styleguide compo

[2018-06-20 06:47] mansona opened #14 "Add the Learn/Examples page"
## Goal
The goal of this issue is to recreate the page https://emberjs.com/learn/examples in an Ember app.  The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

## Criteria
- [ ] Add route: /learn/examples
- [ ] The content look should be the same as the live site
- [ ] use ember

[2018-06-20 06:48] mansona opened #15 "Move the Legal page to the correct place"
## Goal
The goal of this issue is to recreate the page https://emberjs.com/legal/ in an Ember app.  The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

## Criteria
- [ ] remove /legal as a top-level route
- [ ] re-add route to /about/legal
- [ ] The content look be the same as t

[2018-06-20 06:48] mansona opened #16 "Convert the Logos page https://emberjs.com/logos/"
The goal of this issue is to recreate the Logos page https://emberjs.com/logos/  in an Ember app. The routing names and the content look should be the same as the live site. The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

To get started with this issue, please add a comment

[2018-06-20 06:48] mansona opened #17 "Add the Mascots page"
## Goal
The goal of this issue is to recreate the page https://emberjs.com/mascots/ in an Ember app.  The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

## Criteria
- [ ] Add route: /about/mascots
- [ ] The content look should be the same as the live site
- [ ] use ember-styleg

[2018-06-20 06:48] mansona opened #18 "Convert the Security page https://emberjs.com/security/"
The goal of this issue is to recreate the Security page https://emberjs.com/security/  in an Ember app. The routing names and the content look should be the same as the live site. The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

To get started with this issue, please add a co

[2018-06-20 06:48] mansona opened #19 "Add the Sponsors page"
## Goal
The goal of this issue is to recreate the page https://emberjs.com/sponsors/ in an Ember app.  The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

## Criteria
- [ ] Add route: `/about/sponsors`
- [ ] The content look should be the same as the live site
- [ ] remove the t

[2018-06-20 06:48] mansona opened #20 "Convert the Team page https://emberjs.com/team/"

[2018-06-20 06:49] mansona opened #21 "Add the Mascot Commission page"
## Goal
The goal of this issue is to recreate the page https://emberjs.com/tomster/commisson in an Ember app.  The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

## Criteria
- [x] Add route: /mascots/commission
- [x] The content look should be the same as the live site
- [x] us

[2018-06-20 06:49] mansona opened #22 "Convert the Tomster FAQ page https://emberjs.com/tomster/faq/"
The goal of this issue is to recreate the Tomster FAQ page found on https://emberjs.com/tomster/faq/  in an Ember app. The routing names and the content look should be the same as the live site. The currently deployed site is a Ruby app found [in a different repository](https://github.com/emberjs/website), and we are working towards converting the whole site over.

To get started with this issue,

[2018-06-20 06:50] mansona opened #23 "Build the Blog system"
This will require significant broccoli development and will likely be implemented in a similar way to the new Ember Guides app.

This is likely work that will be done directly by @mansona but if anyone would be interested in a challenge please reach out on the #-team-learning channel in the Community Slack. Details of joining are on the [Community page on the website](https://emberjs.com/community

[2018-06-21 15:40] abhilashlr commented on #15
@mansona I can work on this.

[2018-10-12 08:50] ppcano opened #267 "Tree shaking update"
There is a `Code Splitting` section in the status board that is related to the `Tree shaking` feature commented at the [Packaging RFC](https://github.com/ember-cli/rfcs/pull/110).

I have been searching for the `Tree shaking`  status but it was not easy to figure out, there were a few issues: https://github.com/ember-cli/ember-cli/pull/7308,  https://github.com/ember-cli/ember-cli/pull/7139 and fi

[2018-10-17 20:59] abhilashlr commented on #15
@mansona should we close this issue since this PR is merged?

[2018-10-17 21:01] abhilashlr commented on #18
@mansona I can work on this.

[2018-10-18 23:10] aklkv commented on #22
@mansona I will take this one!

[2018-10-23 06:51] aklkv commented on #19
I am on it!

[2018-10-23 07:32] #22 closed

[2018-10-24 08:08] mansona commented on #18
fixed by #74

[2018-10-24 08:08] #18 closed

[2018-10-24 08:17] #12 closed

[2018-10-24 13:52] #16 closed

[2018-10-24 16:29] abhilashlr commented on #20
I can work on this.

[2018-10-24 16:34] abhilashlr opened #83 "Request for linters to be setup for the project"
We need to setup linters like template-lint, scss-lint and eslint for the project

[2018-10-24 17:07] abhilashlr opened #85 "Remove jQuery dependency"

[2018-10-25 07:01] #9 closed

[2018-10-25 11:38] aklkv commented on #83
I have PR ready with ember-cli upgrade, I will add this as part of this PR. Might not bee scss-lint tho. This can go as a separate thing.

[2018-10-25 12:45] mansona commented on #83
@aklkv if you can do the same thing that you did with styleguide and "stage" the PRs that would be very useful so that the the PRs are easier to merge 👍

[2018-10-26 08:44] aklkv commented on #83
@mansona I think this is fixed now with #86, #88, #87

[2018-10-26 08:57] #83 closed

[2018-10-26 09:09] mansona opened #89 "Add alt attributes to images as appropriate"
We recently turned on template linting for this project but in an effort to get the PR merged we temporarily turned off the rule `img-alt-attributes` https://github.com/ember-learn/ember-website/blob/master/.template-lintrc.js#L6

We should turn that rule back on and add alt attributes to all images 👍

[2018-10-26 09:18] mansona opened #90 "Disable the `no-triple-curlies` template lint rule and fix any instances"
As described in #89, we added template linting for the app but disabled any rules that would require any further investigation or added work to fix.

The `no-triple-curlies`  rule fails because of https://github.com/ember-learn/ember-website/blob/master/app/templates/learn/index.hbs#L111

This will probably be solved by moving the data into a MD file, using broccoli-static-site-json and implementi

[2018-10-27 14:31] abhilashlr opened #93 "Title says "EmberWebsite" for the project"
This needs to be dynamic based on the page rather than a static one.

[2018-10-27 17:13] abhilashlr commented on #7
I am picking this one up

[2018-10-27 18:39] abhilashlr commented on #11
I am picking this one up

[2018-10-28 09:17] abhilashlr commented on #8
I am picking this one up

[2018-10-28 15:06] #85 closed

[2018-10-28 16:31] sivakumar-kailasam opened #97 "Update links in navbar to use internal links"
Since this app was initially setup, we've landed a bunch of pages from the ember website. We'll need to update the [nav bar links](https://github.com/ember-learn/ember-website/blob/master/app/links.js) to point to the routes configured in this app so that whenever we launch preview apps & navigate via the navbar we end up landing on a page within this app instead of being redirected to emberjs.com

[2018-10-28 17:01] abhilashlr commented on #97
@sivakumar-kailasam I believe this would require changes in ember-styleguide as well.? Please correct me if I am wrong.

[2018-10-28 17:12] sivakumar-kailasam commented on #97
No the updates are on https://github.com/ember-learn/ember-website/blob/master/app/links.js.

[2018-10-28 17:16] sivakumar-kailasam commented on #97
If the links are configured as a relative path, then we wouldn't any changes to `ember-styleguide`. Do correct me if I'm wrong about that 😅

[2018-10-28 18:09] abhilashlr commented on #97
I thought it was about using `link-to`. Perhaps, using a relative path to `<a>` will work but there will be page load that happens instead of a smooth transition. This would result in the assets being re-fetched.

[2018-10-29 04:17] sivakumar-kailasam commented on #97
Ah yes, my bad 😅

[2018-10-29 09:23] mansona commented on #97
We might not need to add anything to styleguide on this one folks 🤔 I think just adding ember-href-to will catch any transitions and do the right thing as long as they are "path only links" as in `/team` instead of `https://emberjs.com/team`

[2018-11-21 08:26] locks opened #114 "Add unadorned mascots to top of Mascots page"
We received the feedback that it was hard to find the unadorned versions of the masccots in the website.
Following #17, an unadorned Tomster and Zoey pair should be added to the top of the page, below the "Tomster and Zoey" header.

[2018-11-21 15:32] #11 closed

[2018-11-25 17:23] MelSumner opened #115 "Change the /tomster route to /mascots"
The /tomster/ route was already being redirected- the Ember version of the website should go ahead and use the /mascots/ route instead.

To-Do:
- [ ] update the route name for /tomster/ to /mascots/
- [ ] update the subroutes
- [ ] update any tests
- [ ] ensure all tests pass and the project builds successfully

[2018-11-27 04:53] jenweber opened #261 "Handle dates in /releases so they aren't always wrong"
This site is perpetually out of date because everything is hard coded.

This app should be data-driven for confirmed past dates, such as "latest minor release". Forward looking dates should be removed because they are not able to be extrapolated from data.

It's a hack, but the `versions.json` used by the API docs would probably be ok to depend on.

[2018-12-01 18:16] MelSumner opened #117 "add statusboard page"
Currently, the statusboard is located in a separate app. Now that the entire site will be in Ember, we can eliminate this bifurcation by moving the statusboard content to this repo.

## To Do
- [ ] ensure that the correct route exists
- [ ] Use the es-accordion component from [ember-styleguide](https://github.com/ember-learn/ember-styleguide) to implement the accordion found on [the statusboard pa

[2018-12-04 17:06] MelSumner opened #118 "New Feature: Project Showcase"
We'd like to add a new feature to the website that showcases 3-4 projects using Ember. We intend to cycle these on a regular basis.

- [ ] add showcase as a child route to community
- [ ] each showcase should then also have it's own child route (https://guides.emberjs.com/release/routing/redirection/#toc_child-routes)
- [ ] use json api to structure the data for the showcase- it should support a t

[2018-12-04 21:34] MelSumner opened #119 "Move deprecations from separate app into the main site"
## Goal
Consolidate https://github.com/ember-learn/deprecation-app into this app.

## To Do
- [ ] add the deprecations route as a child route to releases
- [ ] add ember-data, ember-cli and ember as child routes to deprecations
- [ ] each major version should have its own child route within the relevant project
- [ ] move over [deprecation content](https://github.com/ember-learn/deprecation-app/tr

[2018-12-04 21:41] MelSumner opened #120 "Properly track deprecations"
## Issue
Deprecation items should have a link to the RFC that deprecates the item. This helps with transparency and also confirms that the deprecated item listed has relevant information.

## To fix
- [ ] Update the deprecated item title to contain the link to the RFC that specified the deprecation

## Example
From https://www.emberjs.com/deprecations/v3.x
In the screenshot below, `Getting the @ea

[2018-12-04 21:42] MelSumner commented on #120
This should be done after https://github.com/ember-learn/ember-website/issues/119

[2018-12-09 20:47] claeusdev commented on #118
@MelSumner I am working on this .

[2018-12-11 00:25] MelSumner opened #121 "Move /builds to /releases and add more relevant content"
This is essentially a follow on from https://github.com/ember-learn/ember-website/issues/142 and should likely not be worked on until that issue is finished 👍

Note: this might turn into more of a meta/tracking issue- it's definitely a bigger chunk of work than typical single issues.

## Goals
The idea is that the new `/releases` page will replace the current `/builds`, as well as integrate the re

[2018-12-18 16:04] locks commented on #115
We need to redirect `/tomster/*`.

[2018-12-18 18:20] locks commented on #13
Addressed by https://github.com/ember-learn/ember-website/pull/46.

[2018-12-18 18:20] #13 closed

[2018-12-19 08:45] BradLeftley commented on #115
Hey I can pick this up 👍

[2018-12-19 10:04] locks commented on #115
@BradLeftley sounds good, thanks! Let us know here or on Discord if you have any problems.

[2018-12-19 16:14] locks commented on #15
@abhilashlr it is still a top-level route, and not `/about/legal`, confirm?

[2018-12-28 16:19] #8 closed

[2018-12-28 17:35] #14 closed

[2018-12-31 12:19] MelSumner commented on #118
@claeusdev let me know if you'd like someone to pair with, or if you want a code review! Thank you for your help!

[2019-01-04 07:59] paxer commented on #119
Hi folks, I would like to help with this issue but I am relatively new to Ember community so pls expect many questions along the way :)

The first question - as I understood we need to move all content form this app https://github.com/ember-learn/deprecation-app to the new Ember site which is this repo (ember-website) right?

The first task is to add `deprecations` route as a child route to `relea

[2019-01-05 03:49] paxer commented on #119
alright I think as with the old (current site) "Releases" is just a menu and should not be a route with URL, just wanted to make sure, but seems like this is what we want to leave in a new site as well

[2019-01-05 05:37] paxer commented on #119
A question regarding moving over deprecation content https://github.com/ember-learn/deprecation-app/tree/master/content

the content there is in Markdown format, should we move it as HTML or maybe leave it as Markdown  and use some Markdown to HTML component to render it on the page?

[2019-01-06 18:31] mansona commented on #119
Hey @paxer 👋

Are you on the Ember Community Discord? can you ping me (@real_ate) either directly or in #dev-ember-learning to chat about this issue? 😄

[2019-01-06 22:46] paxer commented on #119
Hey @mansona

I don't use Discord, not a problem to join though, however isn't it a good idea to keep all discussions about the issue in one place so anybody can review history in one place and not forced to jump between chat and GitHub?

[2019-01-07 07:49] mansona commented on #119
@paxer yes absolutely, we do tend to keep most of the conversation that is directly related to an issue or PR on GitHub because it's easier for new developers to discover 👍 In this particular case there is a bit of a more nuanced discussion that is going on and I thought you would be interested in having a bit more "real time" discussion 😄

I'll get back to you with a response here in the next few

[2019-01-09 00:15] claeusdev commented on #10
Hi @mansona I'll take a look at this.

[2019-01-12 12:29] mansona opened #131 "New Feature: "Why Ember" Page"
This issue is to track work that is related to creating a "Why Ember" page for the new Ember Website. This is separate from the work that is happening in the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/pull/425)

### Motivation
It can sometimes be difficult to communicate why someone might want to consider using Ember as a technology, especially because there are many different ki

[2019-01-14 11:31] mansona commented on #119
Hey @paxer 👋

Just to let you know that we talked about this issue in our weekly Learning Team meeting (notes available here: https://github.com/emberjs/core-notes/blob/master/docs-team/2019-01/january-10.md#deprecations-app-as-standalone-app-separate-from-the-rest-of-website )

We still haven't quite decided if this is going to go ahead so I would recommend pausing any work that you might be doin

[2019-01-14 23:11] paxer commented on #119
Hey @mansona

No probs, what would you recommend for me given my CSS skills are quite depressing, and as I understand we don't currently have CSS styles and HTML templates ready for the new website? Or perhaps moving some parts could be done with the old markup or with some basic HTML structure and apply CSS later?

[2019-01-19 16:05] MelSumner commented on #115
@BradLeftley is there anything I can help with to move this over the finish line?

[2019-01-25 15:08] mikoscz commented on #121
I'm starting this one 😄

[2019-02-01 16:36] #17 closed

[2019-02-01 16:45] #19 closed

[2019-02-02 11:49] #115 closed

[2019-02-02 11:50] locks commented on #115
Thanks!

[2019-02-06 12:35] patocallaghan commented on #21
@mansona I'll take this one 👍

[2019-02-06 13:44] mansona commented on #119
hey @paxer just to let you know we have decided on the way forward for the deprecations app for now. we are **not** going to build it into the main website code but instead we are going to move it into its own subdomain.

You can read more about that decision here: https://github.com/ember-learn/handbook/blob/master/infra_domains.md#sub-domains

Let me know if you have any questions or if you woul

[2019-02-06 13:45] #119 closed

[2019-02-06 13:47] mansona opened #142 "Implement /builds as a section of the website instead of a separate app"
## Goal
Consolidate https://github.com/ember-learn/builds into this app under the `/builds` route

### Todo

- [ ] Add what is currently the application route of the [Builds App](https://github.com/ember-learn/builds) as the `/builds` route of the new website
- [ ] add each of the routes in the Builds App as subroutes of `build` e.g. `builds/canary`, `/builds/beta`, `/builds/release`
- [ ] add all

[2019-02-06 13:49] mansona commented on #121
hey @mikoscz 👋 how did you get on with looking at this issue? I'm doing a bit of work to better define what the most pressing tasks are for the Ember Website "Emberification" project so let me know if you want to still be involved and help out and I can help you in whatever way you need 👍

[2019-02-06 19:25] HallDJack commented on #142
@mansona I am going to try and pick this issue up when I have some time. I want to confirm the acceptance criteria for this issue.

My understanding is that this issue will be considered resolved when the [ember-learn/builds](
https://github.com/ember-learn/builds) app has been migrated in to this application and its pages live under the `/builds` route.

Is that correct?

A few other questions to

[2019-02-07 00:58] locks commented on #142
Thanks for picking it up @HallDJack!
In short:
- Yes
- Yes
- No

The first phase is to port it over to be functionally the same. For the next phases we might want to propose changes through an RFC.
Oh, one little thing, instead of `/builds`, it should be `/releases`. We have already [included a redirect](https://github.com/ember-learn/ember-website/blob/master/.netlifyredirects#L5) since we decide

[2019-02-07 01:03] locks opened #143 "Add times of meetings in the Team page"
At the moment, various core and non-core teams have recurring weekly meetings.
It is hard to keep track of this, so having this information consolidated in a single page would be a boon.

## Tasks
- [ ] Gather time, day of the week, and whether the meeting is generally open to the public or not
- [ ] List it on the teams page
- [ ] Make a nice calendar visualization

[2019-02-07 01:04] locks commented on #93
@mansona it's merged

[2019-02-07 11:42] #90 closed

[2019-02-07 14:40] mansona commented on #142
@HallDJack you are 100% correct, this will be considered done when everything that **currently** exists in the builds app lives in this app 👍

You are also correct that we do **not** need a route for LTS 👍 This is a follow-up issue that covers adding functionality to the builds routes but we will be starting to work on that in Phase 2, we don't want it to hold up getting this live 💪

[2019-02-07 14:44] mansona opened #145 "Make sure there is a Netlify redirect from `/about` to the homepage"
This is something that seems to exist on the existing website and needs to be replicated here.

Netlify redirects are defined here: https://github.com/ember-learn/ember-website/blob/master/.netlifyredirects

Also make sure to remove the `/about` route from the Ember routes definition

[2019-02-07 14:45] mansona opened #146 "Make sure there is a Netlify redirect from `/zoey` to `/mascots`"
This exists on the current ember website and needs to be replicated here :+1:

Netlify redirects are defined here: https://github.com/ember-learn/ember-website/blob/master/.netlifyredirects

Also make sure to remove the `/zoey` route from the Ember routes definition

[2019-02-07 14:47] mansona opened #147 "Make sure there is a Netifly redirect from `/documentation` to the Ember Guides"
This exists on the current ember website and needs to be replicated here :+1:

Netlify redirects are defined here: https://github.com/ember-learn/ember-website/blob/master/.netlifyredirects

This redirect needs to be a [splats](https://www.netlify.com/docs/redirects/#splats) redirect and be the same as the `/guides` redirect that already exists

Also make sure to remove the `/documentation` route

[2019-02-07 14:51] mansona opened #148 "Implement the Payment Page for Tomster Comissions"
This issue is to re-implement https://emberjs.com/tomster/payment/ as `/mascots/payment`

Make sure you implement the "payment sent" page too

**WARNING:** this needs to be implemented alongside the core-team. You **must** reach out to the Ember Core Learning team before starting this implementation. We recommend that you ask about this issue in #dev-team-learning in the Ember Community Discord

[2019-02-07 15:07] HallDJack commented on #142
Thanks @locks & @mansona.

I think I should have time to do some work on this over the weekend.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-10 01:35] HallDJack commented on #142
Hey @locks or @mansona,

It looks like this repo is putting component templates in `app/components` instead of `app/templates/components`, but I still see a `app/templates/components` directory. I am going to follow the established pattern of putting component templates in `app/components`, but I wanted to confirm that was the desired pattern.

[2019-02-11 21:56] mansona commented on #10
Hey @claeusdev 👋 did you have a chance to take a look at this?

Let me know if you have any questions or need any assistance 👍

[2019-02-11 22:20] #7 closed

[2019-02-11 22:23] mansona opened #151 "Make sure the nav bar closes and we scroll to top after navigation"
This should utilise https://emberjs.com/api/ember/3.7/classes/RouterService/events/routeDidChange?anchor=routeDidChange to close the navbar and scroll to the top of the page

There is a chance that we might need to do this in Ember Styleguide (because of the navbar service) but it might be possible now in the website directly.

Let us know if you want to take this on or if you have any questions :

[2019-02-11 22:33] claeusdev commented on #10
Hey @mansona, I am currently looking at it. I'll be sure to let you know how it's going

[2019-02-12 07:59] patocallaghan commented on #151
@mansona I can take this one

[2019-02-12 12:00] #21 closed

[2019-02-12 12:08] mansona commented on #151
@patocallaghan nice one 🎉 you're a legend

[2019-02-13 09:28] simonihmig opened #152 "Navbar dropdown is hidden behind map"
![image](https://user-images.githubusercontent.com/1325249/52701080-aa867e80-2f79-11e9-9810-1f431f328bfd.png)

Proposed solution: `z-index: 1000000` (the more the better 😬)

Seriously though, idk why the leaflet has to use such a high z-index, but that seems to come from the addon's vendor css...

![image](https://user-images.githubusercontent.com/1325249/52701223-03561700-2f7a-11e9-8d97-d6f3028c7

[2019-02-13 10:09] mansona commented on #152
This change is probably best added to https://github.com/ember-learn/ember-styleguide if anyone wants to take this up 👍

[2019-02-15 07:50] mansona commented on #151
@patocallaghan now that https://github.com/ember-learn/ember-styleguide/pull/142 is merged you can update the dependency on styleguide directly since it's a git dependency right now https://github.com/ember-learn/ember-website/blob/master/package.json#L59

thanks again for looking at this 🎉

[2019-02-15 11:15] #151 closed

[2019-02-15 11:30] patocallaghan commented on #148
@mansona I'd like to take this 🤚

[2019-02-15 13:27] HallDJack commented on #142
Thanks for the offer @mansona.

I have a branch with all the functionality ported over I just need to pull in the styles. I haven’t had time to work on it this week, but should have time this weekend.

If that doesn’t fit the timeframe that is needed I could PR what I have and let someone else take over. Let me know if I should do that.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub

[2019-02-15 14:00] mansona opened #157 "Use "Percy Magic" to make the website as close to the current live one as possible"
This is referring to the same "Percy Magic" that @mansona did when porting the Ember Guides to an Ember app. It involves taking a base snapshot of the current website and using that as the "master branch" to compare this site.

This is mostly a chore for @mansona to do but once it is done there will be plenty of work to update the styles to more closely match the existing site :+1:

[2019-02-15 14:01] mansona commented on #142
@HallDJack I would always PR what you have already so people can take a look, but if you get to it this weekend that should be ok on the timeframe 🎉 also I wouldn't worry too much if you don't (in case you get busy) because any contribution is very welcome no matter how big or small!

I will say that I wouldn't worry too much about the styles for 2 reasons: firstly if you look at #154 the styles t

[2019-02-15 15:56] mansona opened #158 ""Submit your own whitepaper" for showcase projects"
Work on #118 has started with #141 but the effort has stalled a little bit because we need more information about what **content** will be included in these showcases.

During a recent Learning Team meeting, we thought it might be good to model this in a sort of "submit your own whitepaper" on how you're using Ember effectively in a similar style to @jessica-jordan's great work on the contributor

[2019-02-17 01:10] HallDJack commented on #142
@mansona I got the styles _mostly_ working. PR for the port here: https://github.com/ember-learn/ember-website/pull/159

[2019-02-18 09:30] mansona opened #161 "Clean up the CSS and templates for the statusboard routes"
As a result of #154 we have "copy & pasted" the styles and templates from https://github.com/ember-learn/statusboard into this application. The job was specifically **not** to optimise the CSS or the templates and instead to just quickly port over the functionality.

We need to go back and refactor the implementation to **simplify** as much as possible.

### Todo:

- [ ] Significantly reduce the a

[2019-02-18 09:33] mansona opened #162 "Clean up the CSS and templates for the releases routes"
As a result of #159 we have "copy & pasted" the styles and templates from https://github.com/ember-learn/builds into this application. The job was specifically **not** to optimise the CSS or the templates and instead to just quickly port over the functionality.

We need to go back and refactor the implementation to **simplify** as much as possible.

### Todo:

- [ ] Significantly reduce the amount

[2019-02-18 11:04] mansona opened #164 "Remove the `fixtures` implementation from the releases routes"
As part of #159 we have just ported over builds app as it was implemented in https://github.com/ember-learn/builds but there are various improvements that can be made (see #162) but we don't want to have to make them before we release the first pass of the feature 👍

We need to update the use of "fixtures" to use the `broccoli-static-site-json` implementation similar to all of the other data-backe

[2019-02-18 11:06] #142 closed

[2019-02-18 11:23] #148 closed

[2019-02-18 11:28] patocallaghan commented on #147
I'll take this ✋

[2019-02-18 11:48] mansona commented on #147
🎉 thanks @patocallaghan

[2019-02-18 15:08] #152 closed

[2019-02-18 21:48] #10 closed

[2019-02-19 18:30] claeusdev commented on #117
@MelSumner @mansona This looks like my next PR. I'm taking this on

[2019-02-19 18:34] mansona commented on #117
Sorry @claeusdev 🙈 this was actually done in #154 I must have missed this issue

[2019-02-19 18:34] #117 closed

[2019-02-19 23:13] #147 closed

[2019-02-20 09:19] patocallaghan commented on #146
I'll take this one ✋

[2019-02-20 09:19] patocallaghan commented on #145
I may as well take this one too as it's pretty much the same as https://github.com/ember-learn/ember-website/issues/146

[2019-02-20 09:36] mansona commented on #145
yes indeed @patocallaghan 🎉 thanks a million! I'll mark it as in progress

[2019-02-21 11:07] #145 closed

[2019-02-21 11:07] #146 closed

[2019-02-21 11:31] mansona opened #168 "Make sure there is a netlify redirect for meetup-assets"
The `meetup-assets` page on the old website has now been moved to `/community/meetups/assets` and we need to make sure there is a Netlify redirect in place :+1:

https://emberjs.com/meetup-assets/

is now

https://ember-beta-website.netlify.com/community/meetups/assets/

[2019-02-21 11:32] mansona opened #169 "bump ember-styleguide dependency"

[2019-02-21 11:33] mansona opened #170 "Fix the public key link on the security page"
On the security page https://ember-beta-website.netlify.com/security the link for "our public key." is a broken link.

We just need to get the file from the old website and put it in the right place in the public folder :+1:

[2019-02-21 11:38] mansona opened #171 "Add the community survey banner to the new website"
You may have noticed the community survey banner on the currently live website :tada:

As we hope to launch the new website while the community survey is still active we need to re-implement the banner for the site.

You can take a look at this code: https://github.com/ember-learn/guidemaker-ember-template/blob/master/addon/templates/components/ember-survey.hbs (with the corresponding CSS and comp

[2019-02-21 11:50] mansona opened #172 "Port the previous year's community survey pages"
We need to port the pages for the previous years' community surveys

https://emberjs.com/ember-community-survey-2016/
https://emberjs.com/ember-community-survey-2017/
https://emberjs.com/ember-community-survey-2018/

Although at first glance it would make sense to convert these into individual subroutes like this: https://emberjs.com/ember-community-survey/2016/ and share the code between them I d

[2019-02-21 11:55] mansona opened #173 "Port the current year's community survey page"
This task is to port the https://emberjs.com/ember-community-survey-2019/ page from the previous website. There are some specific requirements for this implementation that make it slightly more complex than a normal static html port:

### Todo
- [ ] port the static html for the page
- [ ] make sure that the banner introduced in #171 does **not** show on this page
- [ ] create a banner that has the

[2019-02-21 15:31] aklkv commented on #172
@mansona I will take it

[2019-02-21 15:53] #170 closed

[2019-02-21 16:14] patocallaghan commented on #171
✋ I'll take this as a precursor to doing #173

[2019-02-21 16:15] mansona commented on #171
thanks @patocallaghan 🎉

[2019-02-21 17:01] #169 closed

[2019-02-22 19:37] abhilashlr commented on #15
@locks yes. It isn't. But what happens to the current (https://www.emberjs.com) working page `/legal` ? Should it be re-routed to `/about/legal` ?

[2019-02-22 20:05] abhilashlr opened #178 "Page not rendering with node@6.x version"
While running node@6 and `ember serve`, the page doesn't load but throws an error under controllers/application.js `replaceLinks()` method where there is a usage of the spread operator. The same works if `?fastboot=false` is used.

Documentation should include running this project from node@8.?

[2019-02-22 20:17] abhilashlr commented on #15
* [x] remove /legal as a top-level route
* [x]  re-add route to /about/legal
* [x]  The content look be the same as the current template
* [x]  use ember-styleguide components (and make notes where there is not an appropriate component)

[2019-02-23 16:54] locks commented on #178
This is already specified in the project's [`package.json`](https://github.com/ember-learn/ember-website/blob/master/package.json#L74-L76). Your node's version may be too old to show the proper warning, can you confirm it doesn't complain?

[2019-02-23 17:20] mansona commented on #178
@abhilashlr I'm afraid @locks is right with this one, it does require a minimum of node v8.x mainly because we rely very heavily on [prember](https://github.com/ef4/prember) which also requires a minimum of node v8.x

I don't know if we should put this in the current readme because as @locks says it does state it in the package.json 🤔 are there any warnings when you try to run it?

I'm going to cl

[2019-02-23 17:20] #178 closed

[2019-02-24 00:21] abhilashlr commented on #178
No @mansona @locks , there seems to be no error/warning while running `ember serve` command.

[2019-02-24 16:13] #15 closed

[2019-02-24 21:09] patocallaghan commented on #173
✋ I'll take this one as it's related to https://github.com/ember-learn/ember-website/pull/177

[2019-02-25 08:09] #171 closed

[2019-02-26 05:03] abhilashlr opened #182 "Should the new website follow default system fonts or existing font styles?"

[2019-02-26 07:41] mansona commented on #182
@abhilashlr I'm sorry I don't fully understand your question 🤔 can you elaborate a little bit?

[2019-02-28 10:56] Alonski commented on #23
An idea for when this is implemented. Would be cool to have a link at the bottom/top of a blog post with an `Edit on GitHub` link that links to the markdown and allows easy editing for creating PRs to fix mistakes :)

[2019-02-28 15:06] mansona commented on #23
@Alonski yes that seems like a very useful feature 👍 can you add an issue to https://github.com/ember-learn/ember-ghost-ember-template so we can keep track of it? also, when writing the issue I would make a reference to https://github.com/ember-learn/guidemaker-ember-template/blob/master/app/templates/components/guides-article.hbs#L9 which is essentially the same feature but for the guides 👍

[2019-03-01 17:23] #173 closed

[2019-03-02 10:44] simonihmig opened #184 "Support (lazy) responsive images"
Many of the images here are not optimized well enough, leading to rather bad Lighthouse scores. Just an example of an image, that is naturally 500px wide, but displayed only at 182px:

![image](https://user-images.githubusercontent.com/1325249/53680630-813a5200-3cde-11e9-8293-05c4b267fbb0.png)

Here the Lighthouse "Opportunities" suggestions for some image heavy pages:

https://ember-beta-website.

[2019-03-02 11:15] mansona commented on #184
@simonihmig thanks for the report 🎉 yes I'm 100% behind this plan and it is a technique that we're already investigating for other "empress" projects: https://github.com/empress/ember-ghost-casper-template/pull/16 😂

I would like to have a chat with you about a few things before we go ahead with this effort though 🤔 I wanted to work on a PR to ember-responsive-image to look at making it support "n

[2019-03-02 12:53] simonihmig commented on #184
Hey @mansona!

Oh, that's cool!

Sure, feel free to ping me on Discord!

Indeed, that would be cool! Seems [`sharp`](https://github.com/lovell/sharp) already supports WebP, so the image processing at build time would be fairly straight forward. But not sure about best practices regarding the partial browser support? If you have thoughts on that already, then please file an issue where we can discu

[2019-03-03 14:51] mansona commented on #184
@simonihmig in fact the thing that I wanted to chat with you is mostly covered by https://github.com/kaliber5/ember-responsive-image/issues/50 (I think). Essentially when I was looking into this for [empress-blog](https://github.com/empress/ember-ghost) it was not 100% clear that there was a good match between where to put files and how to use them. I think we can discuss more on that existing iss

[2019-03-04 18:10] simonihmig commented on #184
Yes, we'll lay out details there. Feel free to chime in at any time!

Unfortunately, not able to come. Yet again... 😫😭

[2019-03-04 22:57] mansona commented on #184
That's a shame! But we should arrange a call for soon afterwards 👍

[2019-03-04 23:23] mansona opened #188 "Make /mascots.html look the same as production"
## Description

Make /mascots.html look the same as production and PR the change to the `percy-magic` branch 👍

## Important notes - read before claiming this issue

- when staring your PR on this issue, branch off `percy-magic` instead of master.
- please do not claim one of these tasks unless you expect to be able to achieve the required outcome within 24 hours.
  - We have a number of people wo

[2019-03-05 02:02] abhilashlr commented on #188
I can pick this up

[2019-03-05 09:07] mansona opened #189 "Make /legal.html look the same as production"
## Description

Make /legal.html look the same as production and PR the change to the percy-magic branch 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new implementation and what is in production. You should look at the latest Percy build on https://percy.io/Ember/Ember-Website before starting thi

[2019-03-05 09:08] mansona opened #190 "Make /community/meetups.html look the same as production"
## Description

Make /community/meetups.html look the same as production and PR the change to the percy-magic branch 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new implementation and what is in production. You should look at the latest Percy build on https://percy.io/Ember/Ember-Website before

[2019-03-05 09:08] mansona opened #191 "Make /community/index.html look the same as production"
## Description

Make /community/index.html look the same as production and PR the change to the percy-magic branch 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new implementation and what is in production. You should look at the latest Percy build on https://percy.io/Ember/Ember-Website before st

[2019-03-05 09:09] mansona opened #192 "Make /learn.html look the same as production"
## Description

Make /learn.html look the same as production and PR the change to the percy-magic branch 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new implementation and what is in production. You should look at the latest Percy build on https://percy.io/Ember/Ember-Website before starting thi

[2019-03-05 09:10] mansona opened #193 "Make /ember-users.html look the same as production"
## Description

Make /ember-users.html look the same as production and PR the change to the percy-magic branch 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new implementation and what is in production. You should look at the latest Percy build on https://percy.io/Ember/Ember-Website before starti

[2019-03-05 09:11] mansona opened #194 "Make /logos.html look the same as production"
## Description

Make /logos.html look the same as production and PR the change to the percy-magic branch 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new implementation and what is in production. You should look at the latest Percy build on https://percy.io/Ember/Ember-Website before starting thi

[2019-03-05 09:13] mansona opened #195 "Make /team.html look the same as production"
## Description

Make /team.html look the same as production and PR the change to the percy-magic branch 👍

**Note:** the order of the team members in production is currently wrong and it has been fixed on the new website. It should look the same but the order of the people is ok to change 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a

[2019-03-05 09:15] mansona opened #196 "Make /tomster/commission/index.html look the same as production"
## Description

Make /tomster/commission/index.html look the same as production and PR the change to the percy-magic branch 👍

Note: in this case, all we need to do is change the background colour but we can leave the rest of the page the same 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new impl

[2019-03-05 09:17] mansona opened #197 "Make /tomster/faq.html look the same as production"
## Description

Make /tomster/faq.html look the same as production and PR the change to the percy-magic branch 👍

Note: this just needs to change the background colour and then the rest can go without any changes 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new implementation and what is in produ

[2019-03-05 09:19] mansona opened #198 "Add the "contribute to this page" back somewhere visible"
Before we converted this project into an Ember app there was a "contribute to this page" link at the bottom of the page that would link to the github repo. We need to add that back 👍

[2019-03-05 09:20] mansona opened #199 "Make /guidelines.html look the same as production"
## Description

Make /guidelines.html look the same as production and PR the change to the percy-magic branch 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new implementation and what is in production. You should look at the latest Percy build on https://percy.io/Ember/Ember-Website before startin

[2019-03-05 09:21] mansona opened #200 "Make /meetup-assets.html look the same as production"
## Description

Make /meetup-assets.html look the same as production and PR the change to the percy-magic branch 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new implementation and what is in production. You should look at the latest Percy build on https://percy.io/Ember/Ember-Website before star

[2019-03-05 09:25] mansona opened #201 "Make /security.html look the same as production"
## Description

Make /security.html look the same as production and PR the change to the percy-magic branch 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new implementation and what is in production. You should look at the latest Percy build on https://percy.io/Ember/Ember-Website before starting

[2019-03-05 09:29] mansona opened #202 "Make /community/meetups-getting-started.html look the same as production"
## Description

Make /community/meetups-getting-started.html look the same as production and PR the change to the percy-magic branch 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new implementation and what is in production. You should look at the latest Percy build on https://percy.io/Ember/Ember

[2019-03-05 09:30] mansona opened #203 "Make /sponsors.html look the same as production"
## Description

Make /sponsors.html look the same as production and PR the change to the percy-magic branch 👍

## Important notes - read before claiming this issue

- This task refers to making the **Percy** build of a page show no differences between the new implementation and what is in production. You should look at the latest Percy build on https://percy.io/Ember/Ember-Website before starting

[2019-03-05 09:46] patocallaghan commented on #201
@mansona I can take this one ✋

[2019-03-06 23:27] #188 closed

[2019-03-06 23:27] #189 closed

[2019-03-06 23:27] #190 closed

[2019-03-06 23:27] #191 closed

[2019-03-06 23:28] #192 closed

[2019-03-06 23:28] #194 closed

[2019-03-06 23:28] #195 closed

[2019-03-06 23:28] #196 closed

[2019-03-06 23:28] #197 closed

[2019-03-06 23:28] #199 closed

[2019-03-06 23:28] #200 closed

[2019-03-06 23:28] #201 closed

[2019-03-06 23:28] #202 closed

[2019-03-06 23:28] #203 closed

[2019-03-06 23:33] #157 closed

[2019-03-07 17:20] efx opened #207 "clicking brand link returns a 404? (is this unexpected behavior)"
1. navigate to https://ember-beta-website.netlify.com/
2. click 'Brand' in the bottom left
3. You should see a 404 (https://ember-beta-website.netlify.com/brand) It redirects to https://emberjs.com/brand

[2019-03-07 23:33] mansona commented on #207
nice catch @efx 🎉 as it happens this will be a problem for anything that is using the ember styleguide right now, not just the new website 🙈

I have fixed this in #208 but it won't actually fix it until the site goes live 👍

[2019-03-08 08:50] mansona opened #209 "Deploy the Ember blog on blog.emberjs.com"
- [x] Move the old website to be deployed at https://blog.emberjs.com and only contain the blog subroute.

- [ ] And add the redirect to bring people from https://emberjs.com/blog/* to the right place.

- [x] make sure that any internal links (to the previous website) are correct

[2019-03-08 08:52] mansona opened #210 "Deploy the Deprecations app on deprecations.emberjs.com"
- [x] Move the deprecations app to https://deprecations.emberjs.com

- [ ] setup redirects

[2019-03-08 09:21] mansona opened #211 "Make sure the titles and descriptions of each page at least match the existing site"

[2019-03-08 09:24] mansona opened #212 "Make sure the /releases versions are all up to date"
I'm not 100% sure how to update the releases fixtures 🤔 this was essentially just a direct copy of the builds app so if anyone is familiar with the system and could check that the correct Ember version is on the /releases page that would be very helpful 👍

This is not technically a blocker for going live because I think https://emberjs.com/builds/ is currently out of date 😂

[2019-03-08 09:25] #168 closed

[2019-03-08 09:25] #207 closed

[2019-03-08 09:25] #209 closed

[2019-03-08 09:25] #210 closed

[2019-03-08 09:46] mansona opened #213 "add google analytics"

[2019-03-08 13:58] mansona opened #218 "Update the navbar from the styleguide when "Navbar Tweaks" is merged"

[2019-03-08 16:49] #218 closed

[2019-03-08 22:36] #172 closed

[2019-03-09 00:02] #211 closed

[2019-03-09 00:24] #212 closed

[2019-03-10 12:18] #213 closed

[2019-03-12 09:06] mansona opened #222 "Port all issues from the emberjs/website and archive"
This repository is a re-implementation of the Ember Website https://github.com/emberjs/website so we need to port over all of the relevant issues.

Any of the issues that relate to the blog should be instead ported over to https://github.com/ember-learn/ember-blog

### Todo

- [x] Turn off heroku apps
- [x] Disable Dependabot
- [x] Port Issues
- [x] Port PRs
- [x] Port Projects

Once we are happy

[2019-03-12 09:09] mansona opened #223 "Port all issues from the statusboard app and archive"
The Status Board app https://github.com/ember-learn/statusboard has been incorporated into this repository as part of the launch of the new "Emberified" website.

### Todo

- [ ] Turn off heroku apps
- [ ] Disable Dependabot
- [x] Port Issues
- [ ] Port PRs
- [ ] Port Projects

Once everything we want to keep has been ported then we can archive https://github.com/ember-learn/statusboard

[2019-03-12 09:11] mansona opened #224 "Port all issues from the builds app and archive"
The Builds app https://github.com/ember-learn/builds has been incorporated into this repository as part of the "Emberification" of the main website (under the /releases route).

### Todo

- [ ] Turn off heroku apps
- [ ] Disable Dependabot
- [ ] Port Issues
- [ ] Port PRs

once all the things we need have been ported then we can archive https://github.com/ember-learn/builds

[2019-03-14 18:18] MelSumner opened #229 "Add editions and octane pages"
### The goal

Add an editions top level page, and editions/octane page.

[2019-03-15 07:36] MelSumner commented on #182
@abhilashlr - we follow the fonts in our branding guidelines- See the branding guidelines here: https://emberjs.com/logos

[2019-03-15 07:36] #182 closed

[2019-03-15 12:14] mansona opened #232 "Port "populate organisers data from meetup.com" functionality to new website"
I noticed that the [old website](https://github.com/emberjs/website)'s README had a section about "populating organisers data from meetup.com". Now I don't know if this is something that was ever done but this task is like a placeholder to investigate if this is functionality we need to port over to this repo 🤔

Here is the section from the previous repo:

---

**Note**: unless you're working with

[2019-03-16 15:42] jenweber opened #233 "Add `ember-a11y-testing` to this repository"
It's one of Ember's goals to make sure that our sites meet accessibility standards. We have some work to do to make it as easy as we can to catch mistakes.

For this PR:
- install [ember-a11y-testing](https://github.com/ember-a11y/ember-a11y-testing)
- Write an acceptance test that visits each url in the website router, and calls the `a11yAudit` function (see the addon README for details)
- On fai

[2019-03-16 15:48] jenweber opened #234 "Quick fixes needed for homepage accessibility bugs"
There are three easy-to-fix accessibility errors on our homepage, https://emberjs.com. These are important for people using assistive technology like screen readers.

Help out by editing the markup in https://github.com/ember-learn/ember-website/blob/master/app/templates/index.hbs. The screenshots below are the result of running an Accessibility Audit using Chrome's built-in web developer tools. I

[2019-03-16 22:21] alexpark90 commented on #234
Hi, I am a newbie on OSS world and would like to make my first contribution. I have run Accessibility audit on your homepage, and found 4 issues. Could you clarify if you want me to fix all these 4 or just 3 that you mentioned above. Thank you!

![accessibility](https://user-images.githubusercontent.com/11951198/54482340-38bf8000-4818-11e9-91e0-9843c4863736.JPG)

[2019-03-17 07:29] jenweber commented on #234
@alexpark90 good question. Skip the "color contrast" issues for now, since the home page redesign that's in the works has a new color palette.

[2019-03-17 07:31] jenweber commented on #234
P.S. thanks for your help! Please get in touch if you have any questions. [Ember Community Discord](https://emberjs.com/community/) has a #dev-ember-learning channel that is a great place to ask questions if you need a quick answer.

[2019-03-18 00:38] alexpark90 commented on #234
Hi @jenweber, while inspecting the code, I have realized that the component templates to be edited are actually from [ember-styleguide](https://github.com/ember-learn/ember-styleguide). Is it okay if I open a ticket there and work on them? I have created pr for html language attribute addition though.

[2019-03-18 01:37] #229 closed

[2019-03-18 01:48] jenweber commented on #234
That would be great, thanks!

[2019-03-18 16:30] icole commented on #233
I will try to take a look at this. Discussed this with @jenweber in person at the contributors workshop to get started

[2019-03-18 16:58] mansona opened #239 "Update the Ember Styleguide"
### The goal

This website is using the [ember-styleguide](https://github.com/ember-learn/ember-styleguide) directly as a github dependency. This was required to move quickly while we were trying to get the website deployed.

We need to update the dependency manually using npm.

### Specific implementation advice

I think the easiest way to update github dependencies on npm is to just run `npm i -

[2019-03-18 17:39] dbollinger commented on #239
I can do this one

[2019-03-20 15:48] Alonski commented on #23
@mansona Took a while but I did it :)

[2019-03-21 03:10] abdullah2891 opened #251 "Clicking on new version goes to 404"
Steps to Reproduce:
# Go to
https://guides.emberjs.com/v1.10.0/testing/integration/
# Click View "View v3.8.0" button
# It goes to 404

[2019-03-21 14:26] rwjblue opened #254 "Repo description is outdated 🤓"
This is no longer true, since the effort is “done”. I’m happy to update it, but not sure what the best new description is. Any suggestions?

[2019-03-21 14:28] rwjblue opened #255 "CONTRIBUTING.md missing content on adding blog posts"
Since this is the replacement repo for emberjs/website, I assumed this is also where new content for emberjs.com/blog/ goes. However I didn’t see any info in CONTRIBUTING.md for that so now I’m not so sure...

[2019-03-21 14:33] Charizard opened #256 "Add new Octane Zoey & Tomster to mascots page"

[2019-03-21 14:59] locks commented on #256
Done via https://github.com/ember-learn/ember-website/pull/253 :)

[2019-03-21 14:59] #256 closed

[2019-03-21 21:40] amyrlam opened #258 "Missing Voestalpine image in "Who uses Ember.js""
@fpauser Moving https://github.com/emberjs/website/issues/3862 here. Can you submit a PR changing the logo to a `.png` for now? Looks like all of the other files [here](https://github.com/ember-learn/ember-website/tree/master/public/images/users) are `.png`.

Perhaps we can allow .svg as a separate issue?

[2019-03-21 23:02] amyrlam commented on #258
I just saw https://github.com/ember-learn/ember-website/pull/252...need to investigate.

[2019-03-22 18:39] MelSumner commented on #276
@locks I'm going to update the issue- if it was using the correct ember-styleguide component it would be doing this.

[2019-03-22 18:41] MelSumner commented on #276
cc @mansona

[2019-03-22 18:43] MelSumner commented on #275
This should be resolved when the correct component is used. Closing this issue, since there is already an issue to do this.

[2019-03-22 18:43] #275 closed

[2019-03-22 18:44] MelSumner commented on #274
@jenweber is this still an issue?

[2019-03-22 18:45] MelSumner commented on #273
We are revamping the statusboard to accurately reflect the in-progress work of Ember. Closing this issue as it is no longer relevant.

[2019-03-22 18:45] #273 closed

[2019-03-22 18:46] MelSumner commented on #270
We have filters planned in the new design of the statusboard, coming soon™️. Thank you!

[2019-03-22 18:46] #270 closed

[2019-03-22 18:52] MelSumner commented on #265
The current releases page gives this information, so closing this issue. Apologies that it took us so long to respond.

[2019-03-22 18:52] #265 closed

[2019-03-22 18:52] MelSumner commented on #271
Closing this issue in favor of the re-vamped status board project planning. 👍

[2019-03-22 18:52] #271 closed

[2019-03-22 18:56] MelSumner commented on #258
Resolved with #278 👍

[2019-03-22 18:56] #258 closed

[2019-03-22 18:58] MelSumner commented on #222
I did not disabled dependabot but the relevant things to port have been done. @locks can you disable dependabot? Or, is it automatically disabled by archiving the repo?

[2019-03-22 19:01] sivakumar-kailasam commented on #222
It’s automatically disabled now that the original repo is archived(I’ve confirmed it)

[2019-03-22 19:01] #222 closed

[2019-03-22 20:12] #255 closed

[2019-03-22 20:25] MelSumner commented on #268
This is resolved with the new RFC tracking process.

[2019-03-22 20:25] #268 closed

[2019-03-23 03:04] amyrlam commented on #258
thanks!

[2019-03-25 11:47] MelSumner commented on #254
Resolved! 👍

[2019-03-25 11:47] #254 closed

[2019-03-25 12:05] mansona commented on #239
Fixed in #242

[2019-03-25 12:05] #239 closed

[2019-03-27 00:05] jwithington commented on #114
Hey folks! I'm starting to work on this, and I found an unadorned Zoey here (after running a build):

`dist/images/tomsters/zoey.png`

However, I'm actually not seeing any plain Tomsters (that aren't just a head, an Ember logo, etc.). This is the one marked as original:

`dist/images/tomsters/original.png`

Do you know where I might look, or is that the right one to use?

Thanks so much!

cc: @loc

[2019-03-27 00:31] locks commented on #114
Before building the mascot images are at `/public/images/tomsters`.
That's a good question, I don't remember seeing an unadorned Tomster! I've asked @wifelette for confirmation.

[2019-03-27 15:10] jwithington commented on #114
Great — I can grab anything she provides and include them, too. ☺️

[2019-03-27 17:11] jenweber commented on #289
https://github.com/ember-learn/ember-website/pull/290

[2019-03-27 17:59] mansona commented on #261
this is very much related to https://github.com/ember-learn/ember-website/issues/164 and there are some ways that we can actually hit the npm api to get latest release data live 🎉

[2019-03-28 15:10] locks commented on #289
Sorry, I didn't notice there was a "closes x" in the commit itself, I only saw the updated PR description.

[2019-03-28 16:39] jenweber opened #291 "Add three sentences about what Octane is to the Octane page"
We should add 2-3 quick "marketing" focused sentences directly to the Octane page.

To-do:

- [ ] draft additions/edits for the `octane` page, using some of the feedback and suggestions below. These are rough suggestions so it's up to you to figure out wording.
- [ ] check to see if messaging is consistent with `editions/index` and the [upgrading section](https://octane-guides-preview.emberjs.com/

[2019-03-28 16:46] chriskrycho commented on #291
Thanks to @jamonholmgren for the immediate feedback when I sent him the link to https://emberjs.com/editions/octane/!

[2019-04-01 08:56] Alonski opened #294 "Add an IDE/Editor Page/Section to Site"
### The goal

Ember currently doesn't have a single source of truth regarding info on using Ember with IDEs/Editors.

For example, we could link to useful extensions, types, and other topics that could be useful.
Another important topic that could be discussed is the [Ember Language Server](https://github.com/emberwatch/ember-language-server).
This was sparked by a question that I and locks have a

[2019-04-03 15:51] mansona commented on #162
some of the simplification of the templates has now happened in #298

There is a lot that can still be improved but we are making progress 🎉

[2019-04-03 18:56] #164 closed

[2019-04-03 23:05] jwithington commented on #118
I'm curious about this one -- I'm interested in tackling it if it's still open / help is still needed.

Thanks! cc: @MelSumner

[2019-04-04 09:01] mansona commented on #118
@jwithington the current blocker for this work is that we need to start getting some content together that will be able to drive the design/functionality of the showcase section. We have talked about putting together some sort of "submit your own whitepaper" documentation that would feed into this section of the website but we haven't had much of a chance to move that forward 🤔

If you are interes

[2019-04-04 19:06] jwithington commented on #118
great, thanks!

[2019-04-12 13:58] jessica-jordan opened #308 "Fix Mascot Display on Home Page on Retina Screens"
### The goal

Please fix the background image used in the benefits section of the homepage. Currently, the background image that should be displaying the Zoey mascot is neither loaded nor displayed correctly in any browser (e.g. Chrome, FF) because the location of the image cannot be found at the url provided in the CSS style.

This only happens on retina-screens, because the double sized image th

[2019-04-12 14:17] kennethlarsen opened #309 "Update link to website repository"
### The goal

Fix the "submit a pull request" link on the `/guidelines/` pages that is currently pointing to an old repository.

### Specific implementation advice

The link here (https://github.com/ember-learn/ember-website/blob/master/app/templates/guidelines.hbs#L103) should be changed to https://github.com/ember-learn/ember-website

### How to get started

To get started with this issue, pleas

[2019-04-12 22:06] OnesQuared commented on #309
I'm interested in doing this real quick, seems like quite simple thing to do, just need to change the aref link to the new one in the issue?

[2019-04-12 22:53] #309 closed

[2019-04-17 18:00] #308 closed

[2019-04-18 19:21] j-brennan commented on #97
@mansona I had a chat with you recently about this issue - and we believe it to be resolved.

[2019-04-18 19:47] j-brennan opened #313 "Use unique titles for each page"
As a follow up to https://github.com/ember-learn/ember-website/issues/93, just opening this up to see if there is a desire to make each page have it's own dynamic page title?

Currently each page uses the title: `"Ember.js - A framework for ambitious web developers"`. Would it be useful to see different titles for each page. e.g. the Legal page uses `"Ember.js - Legal"` etc.

[2019-04-19 10:12] mansona commented on #97
thanks @j-brennan 👍 yes this issue is in fact fixed 🎉

[2019-04-19 10:12] #97 closed

[2019-04-19 11:13] mansona commented on #93
This issue is now done because it no longer says "EmberWebsite" as the title.

As for the question of dynamically changing the title, I think it's best that we continue that conversation over here: https://github.com/ember-learn/ember-website/issues/313

[2019-04-19 11:13] #93 closed

[2019-04-19 11:14] mansona commented on #313
@MelSumner I assume this is really a question for the SEO team? I can definitely work on a mechanism that would allow us to change the title dynamically (with a fallback) but I think we need to answer the question "do we need this" first 🤔

[2019-04-23 10:58] mansona opened #314 "[redesign] Add content for the landing page header"
![Screenshot 2019-04-23 at 11 59 04](https://user-images.githubusercontent.com/594890/56576033-3bec1f80-65bf-11e9-8752-90a2b3ac0e78.png)

Add the content for the hero section of the homepage.

## Todo

- [x] remove the existing content that makes up the "hero" section of the website
  - `A framework for ambitious web developers. Try it out!`
- [x] use `EsPageHeader` to create the new hero section

[2019-05-05 14:51] ghislaineguerin opened #315 "[redesign] Add content for the landing page main section"
![image](https://user-images.githubusercontent.com/845767/57195653-7063c200-6f55-11e9-9ee5-abc3e0460ecd.png)

Add the content for the main section of the website

## Blockers

- [x] Create documentation for typography classes
- [x] Create documentation for grid layout classes
- [x] Create helper classes for background colours
- [ ] Create documentation for image placement classes
- [ ] Create help

[2019-05-06 09:05] locks opened #316 "Update links on /releases/canary because of Amazon S3 functionality change"
In short, it seems `//s3.amazonaws.com/<bucketname>/key` will no longer be supported to be replaced with `//<bucketname>.s3.amazonaws.com/key`. More information can be read on the [official AWS announcement](https://forums.aws.amazon.com/ann.jspa?annID=6776)

This issue is blocked until we figure out what the new links are. Conversation on this aspect of the issue should be had on the twin issue:

[2019-05-06 16:46] rwjblue commented on #316
I think this means that we will loose the ability to use HTTPS for these requests (without additional hoop jumping that is). We may need to change the bucket name to avoid including a period.

[2019-05-06 17:55] mansona commented on #316
@locks can you be a bit more specific about what this issue has to do with the website? 🤔 I am assuming this has something to do with the release route but I don't follow what the issue is and what needs to change on this end.

[2019-05-07 11:20] locks commented on #316
@mansona the links in https://emberjs.com/releases/canary will stop working soon-ish.

[2019-05-07 11:32] mansona commented on #316
@locks I have updated the title and description to reflect that 👍

[2019-05-17 21:31] shankarsridhar commented on #294
I like this idea 😃 .
@Alonski,  Assuming this is going to be done, I would love to help, if more help is needed on this.

[2019-05-17 21:38] shankarsridhar commented on #251
I am still seeing the same problem.
Are there any plans to altogether remove docs related to 1.10.0  from the website ?

![image](https://user-images.githubusercontent.com/4473214/57957514-63c65e80-78b1-11e9-8452-235e6a9f3010.png)

[2019-05-18 11:58] Alonski commented on #294
@shankarsridhar We haven't started work on this yet. If you are willing to help push this forward that would be awesome

[2019-05-19 01:00] shankarsridhar commented on #294
@Alonski Sounds good. But, I use only `Vs Code` for authoring my ember apps. 😄. Not sure if that matters.

[2019-05-19 07:09] Alonski commented on #294
@shankarsridhar The initial work would be designing this page with at least a skeleton for different IDE/editors. Then VSCode could be the first.

[2019-06-06 15:40] MelSumner commented on #313
@mansona we absolutely need this. It's an accessibility thing that we don't update the page titles.

However, the page title format should be PageName - SiteName.

[2019-06-06 15:44] MelSumner commented on #294
@Alonski this changes over time and I don't currently see a way to keep this information up to date. If anyone is going to propose something, it needs to include a plan for long-term maintenance.

[2019-06-06 15:46] MelSumner commented on #274
Reviewed the site and it doesn't seem to be an issue anymore, so I'm closing this issue.

[2019-06-06 15:46] #274 closed

[2019-06-06 15:46] MelSumner commented on #233
Thank you for doing this work @icole !

[2019-06-06 15:46] #233 closed

[2019-06-06 15:48] MelSumner commented on #291
I think we should ask the marketing team for help with this! :+1:

[2019-06-06 15:50] MelSumner commented on #89
We shipped this, so I'm closing the issue.

[2019-06-06 15:50] #89 closed

[2019-06-07 13:01] Alonski commented on #294
It would be as up to date as any other section of the site. I believe that once it is built the maintenance on it will be minimal.
There are a lot of questions regarding HBS in VSCode, setting up Ember in VSCode etc that are easy to answer but currently there is no "one place" to put the answers.

This is an idea. I don't have the bandwidth right now to create something like this from scratch. If

[2019-06-20 21:27] wifelette opened #340 "Update DNSimple Sponsor Link"
The folks at DNSimple have requested that we update the URL their footer sponsor link points at. The new link: https://dnsimple.link/resolving-emberjs

[2019-06-22 19:28] #340 closed

[2019-06-23 04:48] lukemelia opened #343 "Broken styling in menus on releases page"
![image](https://user-images.githubusercontent.com/353/59971768-8868c280-9550-11e9-8dba-93bb29188dc6.png)

[2019-06-25 14:08] #343 closed

[2019-06-29 09:53] abhilashlr opened #354 "Legal page is not being redirected properly. Instead redirects to emberjs.com"
Clicking on the top navigation link for Legal under About section, the page just redirects to https://emberjs.com because it was trying to navigate to https://emberjs.com/about/about/legal.

[2019-06-29 09:54] abhilashlr commented on #354
I'm assuming this should be an issue on [ember-styleguide](https://github.com/ember-learn/ember-styleguide)

[2019-07-08 12:41] rwwagner90 commented on #263
Do we still need to do this?

[2019-07-08 14:37] MelSumner commented on #114
@wifelette where is the original Tomster?

[2019-07-08 15:48] knownasilya commented on #269
Closing since activity is recorded via github in the rfc tracking repo.

[2019-07-08 15:48] #269 closed

[2019-07-11 07:36] abhilashlr commented on #354
Closing this since this has been fixed by #355

[2019-07-11 07:36] #354 closed

[2019-07-12 13:09] mansona commented on #131
This is still a valid issue and will likely be done after the current effort on the Ember Website RFC 🤔

@MelSumner @pichfl do you think that we should include this in the content map that we're now working on? is there enough material for it to be included in the current work?

[2019-07-12 13:10] mansona commented on #120
@MelSumner now that we decided against doing #119 do you have any objection to me moving this into the deprecations repo? using the "transfer issue" feature I mean :)

[2019-07-12 13:11] mansona commented on #121
This is covered in #351

[2019-07-12 13:12] mansona commented on #143
This is still a relevant issue 🤔

[2019-07-12 13:14] mansona commented on #161
This will no longer be relevant with the redesign as it starts from a clean slate

[2019-07-12 13:14] #161 closed

[2019-07-12 13:16] mansona commented on #198
This issue is still relevant 👍

@pichfl I don't know if this is something that we need to incorporate into the "content map" but we should definitely consider it in the redesign if possible

[2019-07-12 13:17] mansona commented on #193
This was done a while ago 🙈 thanks stalebot 🎉

[2019-07-12 13:17] #193 closed

[2019-07-12 13:18] #224 closed

[2019-07-12 13:18] mansona commented on #232
I'm not sure if this is still relevant 🤔

[2019-07-12 13:19] pichfl commented on #131
As the RFC is merged, it would be appropriate to put it into consideration for the content structure 🙂

[2019-07-12 13:20] mansona commented on #23
I'm closing this issue in favour of the project https://github.com/orgs/ember-learn/projects/15 👍

[2019-07-12 13:20] #23 closed

[2019-07-12 13:22] mansona commented on #266
So this has been somewhat implemented in https://github.com/ember-learn/ember-website/pull/334 and I have mentioned to @jenweber about potentially incorporating it into https://github.com/ember-learn/ember-website/pull/351 but if we don't think it fits then we can close this issue and close this PR 👍

[2019-07-12 13:23] #223 closed

[2019-07-12 13:25] mansona commented on #316
@rwjblue is this still an issue? 🤔 I seem to remember you mentioning something about them rolling back this decision but I could be making that up 😂

[2019-07-12 13:37] rwjblue commented on #316
Ya, they just delayed the change. We should still address IMHO.

[2019-07-15 12:02] hakilebara commented on #143
Can the calendar visualization be taken out of this issue? I think it deserves a issue of its own. It is more of a nice to have than an actual blocker.

[2019-07-16 11:49] claeusdev commented on #314
@mansona I would like to have a go at this.

[2019-07-16 12:20] mansona commented on #314
hey @claeusdev I have already completed this one in https://github.com/ember-learn/ember-website/pull/362 and I'm just waiting to hear back from Percy to see why CI is breaking on their side.

If you would like to take a look at an issue it would be great if you could check out https://github.com/ember-learn/ember-website/issues/315 👍

[2019-07-16 12:21] mansona commented on #315
hey @ghislaineguerin I'm just wondering if you think this issue can be picked up now or should we still wait for the other ToDo items to be completed before starting?

[2019-07-16 12:23] ghislaineguerin commented on #315
@mansona I think this can be picked and we could finalize any additional requirements based on the initial implementation.

[2019-07-16 12:35] mansona commented on #315
@ghislaineguerin cool 🎉 thanks for replying so quickly 😂

I'll remove you from the assignees to this task as it is more about implementation on the **website** repo than on the styleguide. Let me know if you need any help creating corresponding issues on the styleguide repo 👍

[2019-07-16 20:37] jenweber commented on #234
I think we should keep this one open and evaluate if these things have been fixed by other PRs since

[2019-07-17 02:30] claeusdev commented on #314
@mansona Hey lemme check it out and then I'll ping you on discord to get started.

[2019-07-22 08:58] #314 closed

[2019-07-25 10:00] mansona opened #364 "[redesign] Add content for a Component Example on the hompage"
<img width="706" alt="Screenshot 2019-07-25 at 10 55 26" src="https://user-images.githubusercontent.com/594890/61865339-f47d7400-aeca-11e9-915b-06283ac66a23.png">

Add the content for the Component example on the homepage. You only need to add one toy example as the content of the examples is still being discussed

## Blockers (ember-styleguide)

- [ ] Create documentation for code samples
- [ ] C

[2019-07-25 10:05] mansona opened #365 "[redesign] Add batteries included section to the homepage"
![Wide](https://user-images.githubusercontent.com/594890/63088022-96810100-bf4b-11e9-8fc7-8a56efc42df6.png)

Add the Batteries Included section to the homepage. Some of the images/illustrations are missing from this screenshot so just ignore them for now.

## Todo

- [x] create images from the sketch file for the terminal and browser window
  - [terminal-browser.svg.zip](https://github.com/ember-l

[2019-07-25 10:16] mansona opened #366 "[redesign] add content for the Ember Ecosystem section on the landing page"
<img width="743" alt="Screenshot 2019-07-25 at 11 07 41" src="https://user-images.githubusercontent.com/594890/61866173-9baedb00-aecc-11e9-86e6-1b368e3a85b2.png">

Add content for the Ember Ecosystem section on the homepage.

## Todo

- [ ] extract the images from the sketch file
- [ ] add content and images using the layout classes

## useful documentation

- https://deploy-preview-145--ember-sty

[2019-07-25 10:17] mansona commented on #366
@ghislaineguerin do we need to think about "grey background" for this one?

[2019-07-25 10:23] mansona opened #367 "[redesign] add content for the community section of the landing page"
<img width="743" alt="Screenshot 2019-07-25 at 11 20 48" src="https://user-images.githubusercontent.com/594890/61867141-6905e200-aece-11e9-80c7-9aa8b4ab3b00.png">

Add the content for the community section of the landing page.

## Todo

- [x] extract images from the sketch file
- [ ] add content and images using the layout classes

## useful documentation

- https://deploy-preview-145--ember-style

[2019-07-25 10:31] mansona opened #368 "[redesign] add content for the community resources section"
<img width="743" alt="Screenshot 2019-07-25 at 11 23 35" src="https://user-images.githubusercontent.com/594890/61867276-bd10c680-aece-11e9-975e-2b69ca7b9411.png">

Add the content for the community resources section

## Blockers (ember-styleguide)

- [x] https://github.com/ember-learn/ember-styleguide/issues/210

## Todo

- [x] make this section depend on a data file that can be updated independen

[2019-07-25 10:36] mansona opened #369 "[redesign] add content for the "Ready to start shipping" section on the homepage"
![Wide - shipping](https://user-images.githubusercontent.com/594890/63420565-d4c06980-c3fe-11e9-8211-a2da2907be0a.png)

Add the content for the "ready to start shipping" section

## Todo

- [ ] add content using the layout classes

## useful documentation

- https://deploy-preview-145--ember-styleguide.netlify.com/concepts/layout
- https://website-redesign-rfc--ember-styleguide.netlify.com/css/hel

[2019-07-25 11:27] ghislaineguerin commented on #366
@mansona I think so. we have .bg-muted for that case, it's on the guide.

[2019-08-05 11:35] #121 closed

[2019-08-05 11:35] #162 closed

[2019-08-08 21:05] mansona commented on #364
This has been deferred until we have the right content to include in the examples. It is unlikely to be in the first phase of the project

[2019-08-08 21:12] NullVoxPopuli commented on #315
dibs!

[2019-08-08 21:31] #366 closed

[2019-08-12 09:11] belgoros opened #378 "Link to syntax conversion guide is broken"
I tried to figure out how to convert my old-styled component syntax to the new one and discovered the [broken link](https://guides.emberjs.com/reference) in [components section](https://guides.emberjs.com/release/components/):
<img width="565" alt="Screenshot 2019-08-12 at 11 08 37" src="https://user-images.githubusercontent.com/83579/62855192-d51b7f00-bcf1-11e9-9803-b82f37472963.png">

that retur

[2019-08-13 17:03] balinterdi commented on #315
I've just started working on this.

[2019-08-14 13:23] mansona commented on #367
Here are the images to use for now. We can worry about the right images and optimizing them later.

[Archive 2.zip](https://github.com/ember-learn/ember-website/files/3501531/Archive.2.zip)

[2019-08-14 16:23] betocantu93 commented on #367
I can do this one

[2019-08-15 08:36] mansona commented on #315
fixed in #380

[2019-08-15 08:36] #315 closed

[2019-08-15 10:18] balinterdi commented on #365
I'll tackle this.

[2019-08-16 09:43] balinterdi commented on #365
@mansona I started working on this but realized the screenshot above looks really different than the design screenshot in [the original RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md).

I think the sketch file matches the original RFC image but I'm not sure as I don't have a Sketch license so I get a modal in my face and can only see the very top of the "Batteries i

[2019-08-16 09:46] mansona commented on #365
This screenshot is the correct source, it's from the updated sketch file that I sent you which has had a number of changes (including the mobile view which wasn't in the original RFC at all)

Do you need me to extract anything from the sketch file for you?

[2019-08-16 09:49] balinterdi commented on #365
Which screenshot? :) The one here, above? It's different from the Sketch file, as far as I can tell.

[2019-08-16 09:53] mansona commented on #365
@balinterdi I'll DM you the answer to this because I'm likely confusing things 🙈

[2019-08-16 16:07] mansona commented on #365
Implemented in https://github.com/ember-learn/ember-website/pull/383

[2019-08-16 16:07] #365 closed

[2019-08-16 16:10] mansona opened #384 "[redesign] Fill in new illustrations for the batteries included section"
The "batteries included" section has been merged as of https://github.com/ember-learn/ember-website/pull/383 and is currently using dummy images to fill in the gaps for missing illustrations.

This issue is to track both the generation of those illustrations and adding them to the website 👍

## Todo

- [x] Routing
- [x] Data layer
- [x] Testing
- [x] Performance
- [x] Easy upgrades

[2019-08-19 13:41] ryanolsonx commented on #313
Should we also make this change for the new rfc branch? I submitted a PR for master.

[2019-08-22 14:43] ryanolsonx commented on #313
Can someone close this (now that the PR has been merged)?

[2019-08-22 14:56] ryanolsonx commented on #294
I'd be willing to champion Vim. 🥇

I agree with @Alonski. It shouldn't be much work to keep this up to date.

I think it would be really cool to follow a pattern like [Dracula Theme's](https://draculatheme.com/) site for each editor (page per editor).  If we had a page per editor, we could give really good instructions on how to develop Ember.js in each.  For example, VS Code's page might have a f

[2019-08-22 18:56] Alonski commented on #294
I recently learned about this:
https://cli.emberjs.com/release/appendix/dev-tools/

It seems that we could work together to update this?

[2019-08-22 20:22] ryanolsonx commented on #294
Can someone close this issue and we can focus on ember-learn/cli-guides? Unless that's not the right place for that documentation....

[2019-08-22 20:37] MelSumner commented on #294
Closing this issue.

[2019-08-22 20:37] #294 closed

[2019-08-23 20:50] MelSumner commented on #367
Please see the notion docs for the new images

[2019-08-23 20:51] MelSumner commented on #313
@ryanolsonx yup! thank you for your help!

[2019-08-23 20:51] #313 closed

[2019-08-26 15:46] balinterdi commented on #369
I'll tackle this.

[2019-08-26 21:14] mansona commented on #369
fixed in https://github.com/ember-learn/ember-website/pull/392

[2019-08-26 21:14] #369 closed

[2019-08-28 10:31] pichfl commented on #367
Updated images for both wide and narrow screens.

<img src="https://user-images.githubusercontent.com/194641/63848010-49f7e580-c98f-11e9-9440-ca957dbe5a78.png" alt="section-community" width="70%"> <img src="https://user-images.githubusercontent.com/194641/63848009-49f7e580-c98f-11e9-9467-bc580bbaa026.png" alt="section-community-narrow" width="20%">

[2019-08-30 14:35] mansona opened #393 "Copy content for new landing page"
Make sure all questions on https://www.notion.so/emberteam/Home-74030c0503ac4c04b88aa621640fc0e6 are answered and update content in index.hbs accordingly

[2019-08-30 14:44] mansona commented on #384
This is not about creating new illustrations, instead it is us just listing what we want for each of these illustrations so that we can get them created by the illustrator.

e.g. if we decide that we want a "code sample" and a rendered picture of what it looks like for any particular section this does not need to be sent to the illustrator.

It is also ok to say "I don't know" for any of the secti

[2019-08-30 14:57] mansona opened #394 "Figure out why the vendor.js is so large"
http://requestmap.webperf.tools/render/190830_3B_167426830c5988080087e181e8415c1e

This needs to be fixed on master and the changes cherry-picked to the redesign branch 👍

## To Do

- [x] dynamically load highcharts only on the survey results page https://github.com/ember-learn/ember-website/issues/395
- [x] dynamically load leaflet only on the meetups page https://github.com/ember-learn/ember-web

[2019-08-30 20:44] mansona opened #395 "dynamically load highcharts only on the survey results page"
highcharts is only used on the community survey results pages and we should not pay the JS cost of downloading it on all other pages (including the landing page). The excess size is currently 100.17 KB

We should investigate techniques to dynamically include highcharts only for the routes that need it (potentially using ember-auto-import and dynamic imports)

[2019-08-30 20:47] mansona opened #396 "dynamically load leaflet only on the meetups page"
currently the only route that is using leaflet maps on the website is /community/meetups/ and we should not increase the size of vendor.js to include leaflet in all pages. the size gain would be 44.94 KB

we should investigate methods to include leaflet dynamically on the meetups page, such as using ember-auto-import

[2019-08-31 15:59] pichfl commented on #384
#### Routing

Should highlight a browser URL bar with a route and could show a snapshot from

#### Data layer

Depends on how silly we want to have this. A tomster with a stack of records and tapes would be very cute.

#### Testing

Logos of Q-Unit, etc. and maybe a green traffic light?

#### Performance

I think this is where the Octane hamsters could shine. Not sure if we should show anything pr

[2019-09-24 13:39] NullVoxPopuli commented on #394
There are a lot of quick wins we can gain here:
![image](https://user-images.githubusercontent.com/199018/65516574-162cb480-de96-11e9-9f78-d62be8aafd2d.png)

[2019-09-24 13:53] NullVoxPopuli commented on #394
Biggest wins, I think are:
 dynamically loading:
   - Prism.JS (instead of highlight)
     - smaller (~90% savings (choosing what languages to support reduces this a ton))
     - better hbs support, etc
   - leaflet
   - highcharts

More ambitious bundle reduction:
 - ember-auto-import instead of ember-wrapper addons
 - replace momentjs with datefns or similar ( => 50% savings)
 - replace markdown

[2019-09-25 15:39] prasannavijayan commented on #143
@mansona Can I take a look at this one?

[2019-09-30 21:24] jrjohnson opened #413 "Add Contributors Card to Footer"
I just came across this bit of magic on the bottom of https://symfony.com/ which I would humbly suggest that we steal.  There is a card at the bottom of every page thanking a random contributor. I'm pretty sure it thanked me because it knew who I was (if not it was a hell of a coincidence), but just random folks is still super cool and mirrors the call out in Ember Times which I have always loved.

[2019-10-02 01:52] BradenLawrence opened #416 "Update releases page for 3.13"

[2019-10-03 10:15] mansona commented on #394
Hey sorry for the delay but I also did an analysis using bundle analyser a few weeks ago but didn't get a chance to post it because 👶 arrived 😂

Here is an analysis of the findings: https://docs.google.com/spreadsheets/d/1SlvSNWRc3-s8CLCiTvlAXXOle3YUPsvLNdtCFiH_W9Y/edit?usp=sharing

## To Do

- [ ] dynamically load highcharts only on the survey results page https://github.com/ember-learn/ember-web

[2019-10-03 12:46] mansona opened #419 "optimise the size of svg-jar svgs or replace with <img> tags"
In some cases it makes a lot of sense to use svg-jar to "inline" the SVGs into templates, especially when we want to make style changes to the svgs using CSS. However the trade-off with using svg-jar for SVGs is that they are bundled into the application JS and therefore we are loading all SVGs no matter what page we land on.

If we can use an <img> tag for svgs wherever possible then that will ma

[2019-10-03 12:51] mansona opened #420 "remove highlightjs and markdown-it from the releases page"
the releases page is the only part of the website that uses highlightjs and markdown-it for rendering the install instructions of the various releases.

We are already using broccoli-static-site-json at build time to convert Markdown to html and we should continue to leverage this so that we don't need any additional runtime libraries for this functionality

[2019-10-04 10:20] mansona commented on #394
Also @NullVoxPopuli I think we **can** get away with only targeting evergreen browsers but we need to have a way to only execute JS on those browsers 🤔 because everything should be the same in prember and the links should all work we can get away with a "static only" render for legacy browsers

I did attempt to try out the modules thing but it doesn't work with ember-cli currently 😞

[2019-10-04 20:31] MelSumner commented on #291
leave it open please stale bot.

[2019-10-04 20:34] #114 closed

[2019-10-06 13:29] mansona opened #422 "Decide if we need to re-introduce "importance of issues by years of experience" graph"
As part of https://github.com/ember-learn/ember-website/pull/421 in an effort to reduce the asset size of the website I needed to remove the only "columnrange" graph that we were using because it is using a highcharts module that we don't really have a good way to load dynamically now that we are loading highcharts dynamically

I would have replaced the graph with something that still communicates

[2019-10-07 15:23] rwjblue commented on #422
Probably a stupid question, but since we don't really need it to be dynamic could we render it as an image / svg and inline that instead?

[2019-10-17 23:09] jwithington commented on #234
I'm wondering if the audit is catching the links that are created by the homepage users model, here:

[code]

I considered updating the model to add a label for each link, but realized it would quickly just be something like "Visit the Microsoft Site," "Visit LinkedIn," etc., and that seemed excessive/unnecessary. If it's not, I can definitely do it. 😀

[2019-10-21 18:21] amyrlam commented on #234
I merged https://github.com/ember-learn/ember-website/pull/429 from @jwithington!

I am not sure about the question above https://github.com/ember-learn/ember-website/issues/234#issuecomment-543401201

[2019-10-24 08:59] mansona commented on #367
closed in #386

[2019-10-24 08:59] #367 closed

[2019-10-24 22:27] mansona opened #432 "[redesign] Community Page - Update Markup"
## To Do:
- [ ] Update the markup for the `/community` page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you should comment on this issue that you are taking it on

[2019-10-24 22:28] mansona opened #433 "[redesign] Community Meetup Page - Update Markup"
## To Do:
- [ ] Update the markup for the `/community/meetups` page
- [ ] make sure the map is still working
---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you should

[2019-10-24 22:29] mansona opened #434 "[redesign] Community Meetup Assets Page - Update Markup"
## To Do:
- [ ] Update the markup for the `/community/meetups/assets` page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you should comment on this issue that you ar

[2019-10-24 22:30] mansona opened #435 "[redesign] Community Meetups Getting Started Page - Update Markup"
## To Do:
- [ ] Update the markup for the `/community/meetups-getting-started` page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you should comment on this issue th

[2019-10-24 22:33] mansona opened #436 "[redesign] Ember Users Page - Update Markup"
## To Do:
- [ ] Update the markup for the `/ember-users` page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you should comment on this issue that you are taking it o

[2019-10-24 22:33] mansona opened #437 "[redesign] Guidelines Page - Update Markup"
## To Do:
- [x] Update the markup for the `/guidelines` page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you should comment on this issue that you are taking it on

[2019-10-24 22:34] mansona opened #438 "[redesign] Learn Page - Update Markup"
## To Do:
- [ ] Update the markup for the `/learn` page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you should comment on this issue that you are taking it on so t

[2019-10-24 22:35] mansona opened #439 "[redesign] Learn Examples Page - Update Markup"
## To Do:
- [ ] Update the markup for the `/learn/examples` page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you should comment on this issue that you are taking i

[2019-10-24 22:36] mansona opened #440 "[redesign] About Legal Page - Update Markup"
## To Do:
- [ ] Update the markup for the `/about/legal` page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you should comment on this issue that you are taking it o

[2019-10-24 22:37] mansona opened #441 "[redesign] Logos Page - Update Markup"
## To Do:
- [x] Update the markup for the `/logos` page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you should comment on this issue that you are taking it on so t

[2019-10-24 22:37] mansona opened #442 "[redesign] Security Page - Update Markup"
## To Do:
- [ ] Update the markup for the `/security` page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you should comment on this issue that you are taking it on s

[2019-10-24 22:38] mansona opened #443 "[redesign] Sponsors Page - Update Markup"
## To Do:
- [ ] Update the markup for the `/sponsors` page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you should comment on this issue that you are taking it on s

[2019-10-24 22:40] mansona opened #444 "[redesign] Mascots Commission Pages - Update Markup"
## To Do:
- [x] Update the markup for the 'mascots/commission-sent' page
- [x] Update the markup for the 'mascots/commission'  page
- [x] Update the markup for the 'mascots/faq'  page
- [x] Update the markup for the 'mascots/payment-sent'  page
- [x] Update the markup for the 'mascots/payment'  page
---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.c

[2019-10-24 22:41] mansona opened #445 "[redesign] Releases Pages - Update Markup"
## To Do:
- [x] Update the markup for the 'releases' page
- [x] Update the markup for the 'releases/release' page
- [x] Update the markup for the 'releases/canary' page
- [x] Update the markup for the 'releases/beta' page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the *

[2019-10-24 22:43] mansona opened #446 "[redesign] Survey Pages - Update Markup"
## To Do:
- [x] Update the markup for the 'ember-community-survey-2016' page
- [x] Update the markup for the 'ember-community-survey-2017' page
- [x] Update the markup for the 'ember-community-survey-2018' page
- [x] Update the markup for the 'ember-community-survey-2019' page
---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/ma

[2019-10-24 22:44] mansona opened #447 "[redesign] Editions Pages - Update Markup"
## To Do:
- [x] Update the markup for the 'editions' page
- [x] Update the markup for the 'editions/octane' page

---

### Notes (important)

This issue is part of the [Ember Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md) and is one of the **last remaining issues** before we are ready to release. As we are moving very quickly on this project you sh

[2019-10-25 10:20] sdebarros commented on #437
@mansona I'll work on this one

[2019-10-25 12:06] ijlee2 commented on #432
I can work on this issue.

[2019-10-25 16:19] mansona commented on #432
@ijlee2 thanks a million for your feedback on the styleguide documentation 👍 I have a PR that will simplify things quite a lot so hopefully when you get a few minutes in future it will be much simpler 👍

https://github.com/ember-learn/ember-website/pull/448

[2019-10-26 15:53] jrjohnson commented on #440
Taking a shot at this one.

[2019-10-28 22:44] mansona opened #452 "implement max-width for images on ember-website"

[2019-10-28 22:45] mansona commented on #452
I can't recreate the issue that we had with this 🤔 I don't know if this was solved by https://github.com/ember-learn/ember-styleguide/issues/233 but I'm closing for now

[2019-10-28 22:45] #452 closed

[2019-10-29 12:10] mansona commented on #437
fixed in #449 (I don't know why these aren't auto-closing the issues any more 😂 )

[2019-10-29 12:10] #437 closed

[2019-10-29 12:45] pichfl opened #453 "[redesign] global content background"
While the body of the page should remain `#fff`, the `<main>` element should be colored `#F4F6F8` to match the designs and to ease the sharp white.

[2019-10-30 04:28] mswanson commented on #442
I can knock this out

[2019-10-30 05:04] mswanson commented on #432
I can pick this up unless @ijlee2 wants it.

[2019-10-30 08:54] sandstrom commented on #422
I'd vote for (2)

[2019-10-30 09:06] mansona opened #457 "[redesign] Fix relative link code for header and footer"
We have an implementation of custom `@links` code that is supposed to work with ember-href to make sure that any internal links on the website are treated as `<LinkTo />`

This is particularly annoying when developing the new website because any time you click on an internal link you are brought to the production website https://emberjs.com

[2019-10-30 14:02] ijlee2 commented on #432
Nah, go for it, @mswanson. Thanks!

[2019-10-30 15:17] mansona commented on #440
closed in #450

[2019-10-30 15:17] #440 closed

[2019-10-30 15:41] sdebarros commented on #436
@mansona I can take this one.

[2019-10-30 16:29] sdebarros commented on #433
@mansona I'll take this one.

[2019-10-31 01:14] ijlee2 commented on #436
I can give this a try.

[2019-10-31 17:58] MelSumner opened #459 "Change ecosystem svg"
The ecosystem SVG should be changed to use VS Code instead of Atom. (or something else, just not Atom).

![image](https://user-images.githubusercontent.com/4587451/67970940-df0a9b00-fbd9-11e9-9ba3-d4d8c9bb7706.png)

[2019-10-31 18:05] MelSumner commented on #453
We can set the body background to be the same as the main.

[2019-10-31 18:21] MelSumner commented on #422
@mansona is this still an issue?

[2019-10-31 20:31] pichfl commented on #453
The `<body>` should remain `var(--color-white)`, to ensure super short pages render correctly (the footer ends in plain white in the design).

`<main>` should use `var(--color-gray-100)` (which is the updated / better value than the hex value above).

[2019-11-01 08:40] mansona commented on #422
@mansona yes it still needs to be resolved. I like the idea that @rwjblue proposed about using a static SVG so we might do that 👍

[2019-11-02 14:36] ijlee2 commented on #443
I can work on this one.

[2019-11-05 12:23] ijlee2 commented on #434
I can work on this today.

[2019-11-05 12:24] ijlee2 commented on #435
Can work on this one today.

[2019-11-05 13:50] rwwagner90 commented on #263
@rwjblue have we done this?

[2019-11-05 13:57] rwjblue commented on #263
Don't think so?

[2019-11-05 15:45] rwwagner90 commented on #263
So we are still manually updating the numbers?

[2019-11-06 14:51] ghislaineguerin commented on #384
@MelSumner Did you hear back from the illustrator regarding the list above?

[2019-11-07 15:12] mansona commented on #393
Also make sure that the 20-minute "rough draft" of the remaining "batteries included" sections are actually reviewed 👍

[2019-11-07 22:06] mansona commented on #289
this is probably still an issue 👍

[2019-11-07 22:11] mansona commented on #184
This is still valid 🙈 and I really need to catch up and have that call we discussed

[2019-11-07 22:12] mansona commented on #261
I think this is still valid 👍

[2019-11-07 22:30] mansona commented on #436
closed in #458

[2019-11-07 22:30] #436 closed

[2019-11-07 22:31] mansona commented on #432
closed in #456 🎉

(I really don't know why these aren't auto closing any more 🙈 )

[2019-11-07 22:31] #432 closed

[2019-11-07 22:34] mansona commented on #442
closed in #455 🎉

[2019-11-07 22:34] #442 closed

[2019-11-07 22:36] mansona commented on #384
We discussed this in the meeting today and if we don't have the new illustrations by the time it comes to finish this project (and potentially release) then we should come up with some illustrations ourselves

note: this is at the bottom of this list in the project because it is much lower priority than other things

[2019-11-07 22:54] mansona commented on #443
closed in #461

[2019-11-07 22:54] #443 closed

[2019-11-08 14:42] mansona commented on #435
closed in #463

[2019-11-08 14:42] #435 closed

[2019-11-10 17:01] mansona commented on #198
this is still relevant 👍

[2019-11-10 17:02] mansona commented on #232
this is still relevant 👍

[2019-11-10 17:03] mansona commented on #316
@rwjblue do we know what the new links should be?

[2019-11-10 17:03] mansona commented on #266
let's keep this open 👍

[2019-11-10 17:04] mansona commented on #131
I think we should start looking into this after the redesign is complete, commenting so we can keep it open 👍

[2019-11-10 19:36] ijlee2 commented on #434
Hi, everyone. I can work on this.

[2019-11-12 14:36] ijlee2 commented on #439
Will work on this one today.

[2019-11-13 03:11] #118 closed

[2019-11-13 03:11] #158 closed

[2019-11-13 03:11] #262 closed

[2019-11-13 03:11] #264 closed

[2019-11-13 03:11] #272 closed

[2019-11-13 03:11] #267 closed

[2019-11-13 03:11] #276 closed

[2019-11-14 21:03] ijlee2 commented on #438
Will take a look at this today.

[2019-11-16 10:43] Gaurav0 commented on #272
@amyrlam I noticed the link to the statusboard now points to Github on the main site. Is the old statusboard still available? if not, we can leave this closed.

[2019-11-16 18:51] amyrlam commented on #272
@Gaurav0 just confirmed the statusboard app is out of commission now, so will keep closed

[2019-11-20 13:10] pichfl opened #472 "Sponsors: Images have no alt text"
The data for the sponsors does not include their actual name, which in turn doesn't allow us to use that name as an alternative text for the logo images.

- [x] add company names to data
- [x] use as alt attribute in images

[2019-11-22 20:06] pichfl commented on #394
Something I noticed: We should remove the `ember-moment` and replace it by two smaller and smarter helpers using the JS intl API.

[2019-12-03 10:07] sandstrom commented on #472
How about skipping the `alt` attribute, it's just a logo? Or inferring an alt-text from the file-name?

[2019-12-03 15:25] pichfl commented on #472
Inferring the name from the filename is not suitable for properly naming companies. Skipping the attribute is what is happening right now, that *is* the problem here. Any non-seeing user can not identify the companies supporting Ember at all.

[2019-12-03 16:50] sandstrom commented on #472
Maybe it's okay if 1% of users (blind developers according to a recent StackOverflow poll) can't identify the sponsors?

By not translating the website to Mandarin, Arabic, Portuguese, etc. we're also leaving some developers in the dark. That's sad, but with limited resources one needs to prioritize.

[2019-12-03 20:17] pichfl commented on #472
Non-seeing does not equal blind. Search engines and other robots are in the same category. The time it takes arguing about this would be sufficient to add those names to the JSON document in question. This issue was created so work can be done when someone has 5 minutes at their disposal to write down the names and get on with it.

[2019-12-03 22:53] oliverlangan opened #479 "consider authoring specific page meta:descriptions"
I notice that link previews to the Ember website (in Slack) have customized titles but always show the same description.

The descriptive text is good for the top-level of the site, but could be more useful if it described the page better.

![Screen Shot 2019-12-03 at 14 51 02](https://user-images.githubusercontent.com/182776/70096714-8e250280-15dc-11ea-9daf-3fe5ddb0d03d.png)

[2019-12-05 08:08] sandstrom commented on #472
@pichfl Good point about engines and bots. I've added a PR.

*(I'm still think many web projects adopt a dogmatic view on accessibility, that isn't based in statistics or reality. For example, most gain 100x more "inclusiveness" from a Mandarin translation than some aria tags. But I'm not saying this was the case here, I probably misjudged.)*

[2019-12-05 10:45] pichfl commented on #472
I do see your point and wholeheartedly agree. Thanks for taking the time 🙂

[2019-12-05 12:48] mansona commented on #472
Hey folks 👋 sorry I haven't been keeping track on these issues 🙈

Any content changes like this should really go into master and then when we resync with master they will come back down to us. The issue is that the current sponsor list is out of date in the redesign branch.

I'm reopening this for now to keep track and we should make content changes like this to the master branch in future 👍

[2019-12-12 02:48] jenweber opened #486 "Update release versions for Octane"
In the releases page, we should make sure to update the version numbers as soon as Octane is out: https://emberjs.com/releases/release

[2019-12-12 17:05] rwjblue opened #487 "Move `/team` to `/teams` and redirect `/team`?"
I keep (stupidly) going to `emberjs.com/teams` and realizing that I have to use `/team` instead. We have had many teams for quite a while now, so I think it might be time to move `/team` to `/teams` with a redirect.

Thoughts?

[2019-12-22 17:41] locks commented on #416
This has been addressed since. Thanks for reporting!

[2019-12-22 17:41] #416 closed

[2019-12-22 17:42] locks commented on #263
Yeah. I'm closing this one because we should rethink the whole releases page to be more self-sustaining.

[2019-12-22 17:42] #263 closed

[2019-12-22 20:17] #486 closed

[2019-12-23 17:57] MelSumner commented on #472
The logos should have `role="presentation"` unless we don't otherwise present the company information.

[2020-01-02 16:33] amyrlam commented on #479
@oliverlangan Thanks for the report. This may be addressed by the Website Redesign RFC (issues here: https://github.com/ember-learn/ember-website/labels/Website%20Redesign%20RFC). Let's keep this issue open and revisit when that it out

[2020-01-03 15:03] #487 closed

[2020-01-03 15:45] sandstrom commented on #472
I'd like to re-iterate my two [earlier](https://github.com/ember-learn/ember-website/issues/472#issuecomment-562018421) [comments](https://github.com/ember-learn/ember-website/issues/472#issuecomment-561256187).

I think this is a good example of "perfect is the enemy of good". Shipping an updated website is way more important than fulfilling some aria-requirements for the 1-2% of blind developers

[2020-01-04 18:23] pichfl commented on #472
@MelSumner they are the only representation of the company name (be it visually or through their `alt=` attribute), which is why I opened this issue and why @sandstrom was kind enough to fill in alternative texts for all,

Quick reminder for people out of the loop: `role="presentation"` would [remove semantic meaning](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/

[2020-01-06 11:00] mansona commented on #433
This is done 👍

[2020-01-06 11:00] #433 closed

[2020-01-06 14:16] mansona commented on #453
@pichfl can you confirm that this is in fact now done? It looks done on the latest version of the styleguide/website 🤔

[2020-01-06 19:07] pichfl commented on #453
Whops, forgot to close this. Yes, this was done a few weeks ago via a new release of ember-styleguide.

[2020-01-06 19:07] #453 closed

[2020-01-06 19:58] mansona commented on #438
Fixed in #498

[2020-01-06 19:58] #438 closed

[2020-01-06 19:59] mansona commented on #434
fixed in #497

[2020-01-06 19:59] #434 closed

[2020-01-06 20:00] mansona commented on #439
closed in #499

[2020-01-06 20:00] #439 closed

[2020-01-07 21:22] mansona commented on #457
Fixed in #502

[2020-01-07 21:22] #457 closed

[2020-01-09 21:39] mansona commented on #445
Fixed in #504

[2020-01-09 21:39] #445 closed

[2020-01-11 01:35] #441 closed

[2020-01-11 15:11] mansona commented on #446
Fixed in #512

[2020-01-11 15:11] #446 closed

[2020-01-11 15:11] mansona commented on #444
Fixed in #506

[2020-01-11 15:11] #444 closed

[2020-01-14 21:05] mansona commented on #447
Fixed in #511

[2020-01-14 21:05] #447 closed

[2020-01-16 14:43] mansona opened #519 "Make sure there are no more margin-left-small etc. on the homepage"

[2020-01-16 14:57] mansona commented on #459
@MelSumner why not atom? 🤔

[2020-01-16 15:08] mansona opened #520 "Create "Meet Addons" tab component for landing page"
![image (2)](https://user-images.githubusercontent.com/594890/72536594-6e872800-3872-11ea-8118-d911f52fab27.png)

[2020-01-16 15:12] mansona opened #521 "Content for "Meet Addons" tab component for all addons"
This is related to #520

We need content for

- [ ] Manage State (ember-concurrency)
- [ ] Authenticate (ember-simple-auth)
- [ ] Translate (ember-intl)
- [ ] Deploy (ember-cli-deploy)

Screenshot:
![image](https://user-images.githubusercontent.com/4587451/74281217-ab183900-4ce3-11ea-8077-f4af543fb306.png)

[2020-01-16 15:13] mansona commented on #521
@pichfl suggests ember-intl in place of percy. thoughts?

[2020-01-16 15:17] mansona opened #522 "Fix spacing between header and paragraph of "A vibrant, welcoming community""

[2020-01-17 08:40] mansona commented on #519
Fixed in #523

[2020-01-17 08:40] #519 closed

[2020-01-17 08:40] mansona commented on #522
Fixed in #523

[2020-01-17 08:40] #522 closed

[2020-01-17 10:15] mansona opened #525 "[redesign] Design and implement filter controls"
These are used on the mascots page to filter and select size

I'm not sure if this is a styleguide thing but I'm adding it to the website and @pichfl you can decide where you expect it to go

[2020-01-17 18:20] josemarluedke opened #527 "[Redesign] Considere using focus-visible"
I have been following the redesign effort and I would like to start a discussion about the focus state.

The focus indicator is essential for keyboard navigation and accessibility. However, for users using a mouse or trackpad, the focus indicator can be a little distracting. Below are a few examples that I find super distracting.

There is a solution that allows hiding the focus indicator when usi

[2020-01-17 23:36] mansona commented on #395
#421 was reverted because it accidentally increased the bundle size 🙈This is most likely because of thee inclusion of ember-auto-import 🤔

[2020-01-19 09:46] mansona commented on #394
Fixed in #528

[2020-01-19 09:46] #394 closed

[2020-01-19 09:47] mansona commented on #395
Fixed in #528

[2020-01-19 09:47] #395 closed

[2020-01-19 09:47] mansona commented on #420
Fixed in #528

[2020-01-19 09:47] #420 closed

[2020-01-19 09:47] mansona commented on #396
Fixed in #528

[2020-01-19 09:47] #396 closed

[2020-01-19 09:50] mansona commented on #419
Fixed in #528

[2020-01-19 09:50] #419 closed

[2020-01-21 04:36] mansona commented on #368
Fixed in #531

[2020-01-21 04:36] #368 closed

[2020-01-22 21:20] mansona commented on #459
Fixed in #529

[2020-01-22 21:20] #459 closed

[2020-01-22 21:21] mansona commented on #520
Fixed in #530

[2020-01-22 21:21] #520 closed

[2020-01-23 08:37] mansona opened #536 "Minor Improvements to the landing page"
- [x] Use `ml-1` for button groups margin
- [x] Use better Ember Observer graphic (that includes the telescope - and make the url look like emberobserver.com)

[2020-01-23 08:45] mansona opened #537 "Page title implementation doesn't seem to be working on the redesign"

[2020-01-23 22:26] mansona commented on #536
Fixed in #538

[2020-01-23 22:26] #536 closed

[2020-01-24 14:54] pichfl opened #539 "Add the padding for the lines in the "Ember Ecosystem" section"
i.e. between each row

[2020-01-24 22:17] pichfl commented on #539
Checked against the mockup, this seems to be invalid by now.

[2020-01-24 22:17] #539 closed

[2020-01-31 02:03] #143 closed

[2020-02-02 04:12] amyrlam commented on #291
added `pinned` label, keeps things not stale per https://github.com/ember-learn/ember-website/blob/master/.github/stale.yml#L14

[2020-02-04 12:44] mansona opened #544 "Add a statusboard page back (with the same url as it used to have)"
Make it look something like the Editions page, linking out to other resources

- rfcs repo
- rfc tracker project

[2020-02-04 12:44] mansona commented on #544
@MelSumner I have moved this into the Phase 2 project as we agreed that it wasn't a blocker for release of the website 👍

[2020-02-04 13:09] mansona commented on #537
Fixed in #543

[2020-02-04 13:09] #537 closed

[2020-02-04 13:10] mansona commented on #472
fixed in #545

[2020-02-04 13:10] #472 closed

[2020-02-04 22:36] #413 closed

[2020-02-06 14:51] MelSumner opened #547 "Logos are in (some) color instead of in grayscale"
How it looks on the redesign branch:
![image](https://user-images.githubusercontent.com/4587451/73947820-ba4f4f00-48bd-11ea-92d5-a2abda352d1e.png)

How it should look:
![image](https://user-images.githubusercontent.com/4587451/73947849-c76c3e00-48bd-11ea-9220-38d0d5bbdce3.png)

[2020-02-06 14:56] MelSumner opened #548 "Footer issues"
- update background colors
- spacing is too tight
- Copyright text and "generously supported by" text is too large
- supporting companies' logos show orange tick on hover
- focus outline needs correcting (the color can be changed but focus outline can't be removed)

### Updated design

##### Desktop
![footer @large](https://user-images.githubusercontent.com/194641/74053158-89fdd280-49db-11ea-9434-

[2020-02-06 15:03] MelSumner opened #549 "h1 on homepage"
- missing a period at the end
- needs the line break (or a way to make it more narrow)

[2020-02-06 15:09] MelSumner opened #550 "background elements"
See screenshot- see if we can add some background grid dots in the Ember Ecosystem and Batteries included section.

Not a blocker.

![image](https://user-images.githubusercontent.com/4587451/73949590-3ba7e100-48c0-11ea-90a6-34157eea6fa0.png)

[2020-02-06 15:19] MelSumner opened #551 "check h3's for consistent class applications"
- the h3 elements on the home page are different sizes (missing `text-lg`) classes)

[2020-02-06 18:20] pichfl commented on #547
I'll take care of exporting the images.

[2020-02-07 11:10] mansona commented on #550
As this is not a blocker I'm going to move it to phase 2 for now 👍

[2020-02-07 17:43] #547 closed

[2020-02-12 21:06] MelSumner commented on #527
We don't plan to remove focus, but we do plan to update the styleguide to ensure that the focus outline is on-brand for the rest of the design.

Thank you for submitting this issue- I have it documented in ember-styleguide (where our styling lives) so I will close this issue and track it there- https://github.com/ember-learn/ember-styleguide/issues/285

[2020-02-12 21:06] #527 closed

[2020-02-12 21:31] MelSumner commented on #549
closing this issue in favor of https://github.com/ember-learn/ember-styleguide/issues/284

[2020-02-12 21:31] #549 closed

[2020-02-13 09:10] mansona commented on #548
The new design is updated in the abstract in the "homepage collection"

[2020-02-13 18:04] mansona commented on #384
fixed in #559

[2020-02-13 18:04] #384 closed

[2020-02-13 21:21] MelSumner opened #564 "At smaller breakpoints, logos are still inline"
Screenshot:
![image](https://user-images.githubusercontent.com/4587451/74479263-77b8e400-4e74-11ea-8e9a-025672c56bfd.png)

Expectation:
When at smaller breakpoints, these logos should not still present in the same way they do on larger breakpoints.

[2020-02-14 10:18] mansona commented on #564
@MelSumner do you see this as a blocker for release?

[2020-02-16 10:12] Windvis commented on #527
@MelSumner Can you elaborate on why the focus styles are needed when the user is using mouse navigation? Just trying to understand the reasoning behind always showing the focus state, since @josemarluedke's explanation seemed very reasonable to me. :smile:

[2020-02-16 10:38] Windvis opened #566 "[Redesign] Link to Ember Observer"
The Ember Observer section on the new landing page is a nice addition and looks sweet, but it seems the link to the website is missing? :smile:

[2020-02-16 12:33] Windvis opened #567 "Make the AddonTabs component fully keyboard accessible"
It seems that it's not possible to switch to the other tabs with keyboard based navigation alone at the moment.

![image](https://user-images.githubusercontent.com/4587451/74659018-23a24e00-5159-11ea-9d8d-2f5079c8fdad.png)

Expected behavior:
- Pressing `TAB` should cause focus to the row of tabs
- Left or right arrow keys should cause movement inside of the tab list
- pressing `ENTER` should acti

[2020-02-17 06:17] amyrlam opened #568 "Bug: https://emberjs.com/releases/ is not up to date"
See comment here: https://discuss.emberjs.com/t/ember-js-ember-3-16-released/17507/2, when you go to http://emberjs.com/builds/ it still shows 3.15

Took a look at https://github.com/ember-learn/ember-website/blob/master/app/models/project.js but not sure what's wrong, any ideas?

Aside: Submitted update for it to be https://emberjs.com/releases/, not /builds redirect ... here https://github.com/e

[2020-02-17 09:53] mansona opened #569 "[redesign] Navbar opens behind leaflet map on /community/meetups page"
I'm not sure if this is an issue for the website or the styleguide i.e. if we should be attempting to lower the z-index of the leaflet map on the website or increasing the z-index of the navbar in the styleguide :thinking:

[2020-02-17 13:23] Windvis commented on #569
I would simply add a new z-index to the map wrapper to give it a local stacking context. It feels weird to update the style guide z-index system simply because an addon uses certain z-index values.

[2020-02-17 13:53] #234 closed

[2020-02-17 13:56] #521 closed

[2020-02-17 13:57] MelSumner commented on #544
Yes, we are also not going to put it back until we have a good path forward for this project in general. It might be a good learning team discussion during the f2f at EmberConf.

[2020-02-17 14:35] Windvis commented on #567
@MelSumner I can pick this up :) I have a WIP local branch for this already.

[2020-02-17 14:41] MelSumner opened #570 "browser/device review"
To prep for initial launch, the website should be given a basic review in different browsers and on various devices.

## Helping out
If you decide to help out with this list, please visit our [Preview Site](https://deploy-preview-361--ember-website.netlify.com/) on one of the combinations listed in the "browsers and devices" list, and check for the three things listed in the "what to look for" lis

[2020-02-17 15:11] MelSumner opened #573 "add EmberConf CTA"
Ensure that the redesign RFC branch supports the EmberConf CTA.

![image](https://user-images.githubusercontent.com/4587451/74665518-8699e200-5165-11ea-9ed2-e09d8f237be1.png)

[2020-02-17 15:15] #551 closed

[2020-02-17 15:26] mansona commented on #569
@Windvis yes that is my thought as well 👍

[2020-02-17 16:06] mansona commented on #479
Just looking at the original reported issue, this isn't part of the ember-website but instead it's part of the blog. This will get fixed as part of https://github.com/orgs/ember-learn/projects/15 but shouldn't be part of the Website Redesign project 👍

[2020-02-17 16:20] mansona commented on #569
Fixed in #574

[2020-02-17 16:20] #569 closed

[2020-02-17 17:13] Windvis opened #576 "[Redesign] Blurry images on the Community page"
I noticed the images are a bit blurry due to them being upscaled and that's especially noticeable on mobile devices. Are there any plans of them being replaced with SVG versions?

An alternative solution could be to not upscale them and just center the images on mobile, and left / right align them on larger devices (depending on how they are positioned next to the text).

Mobile screenshot:
![Scre

[2020-02-17 20:00] locks commented on #568
https://github.com/ember-learn/ember-website/tree/master/data/project/ember and https://github.com/ember-learn/ember-website/tree/master/data/project/emberData need to be manually updated!

[2020-02-17 20:24] MelSumner commented on #576
I see what you mean- but they didn't used to be this way, so we might have to figure out what changed to make them this way. @mansona maybe this needs some troubleshooting, or do you already know what's caused this to happen?

[2020-02-17 20:43] Windvis commented on #576
They all have the `.img-fluid` class applied to them. They didn't have something similar in the old design so they were never scaled up. It seems these classes were added in https://github.com/ember-learn/ember-website/pull/456 and the pixelated look was mentioned there as well :smile:.

[2020-02-17 21:44] MelSumner commented on #567
@Windvis sure! Thank you!

[2020-02-18 04:54] acorncom opened #582 "Ember Users list items display as boxes of different heights in Safari"
When looking over the latest deploy preview of the nifty new website, I noticed a non-blocking padding bug on the Ember Users page in Safari on my Mac that isn't visible in Chrome. Specifically, for a given "ember user" `<li>`, the specific height seems to adjust somewhat randomly to the point it's distracting as I wonder what height the next row might be:

<img width="1015" alt="Screen Shot 2020-

[2020-02-18 10:45] mansona commented on #576
@MelSumner the best way to fix this is to get higher res images for those (or replace them with SVGs) do we know if we have the original files?

[2020-02-18 13:12] Windvis commented on #570
Is IE11 support still needed? I assume most of the people checking the ember website are using an evergreen browser, or am I wrong?

[2020-02-18 13:20] mansona commented on #570
@Windvis well another way to look at it is that Ember supports IE11 so that means it is 100% required 😂

As @MelSumner says in the issue `Sites don't have to look exactly the same in every browser.` so that means we can have some fallback styles that look OK but not super slick, but it can't be **broken** in IE11 or a **bad** experience

[2020-02-18 13:27] abhilashlr opened #584 "[Question] Should Ember's website "Ecosystem" header talk about "ember-data" as well?"
The "Ecosystem" content on https://emberjs.com/learn reads:

And it doesn't talk about `ember-data` in specific, though it is available in the previous section.

Should we add `ember-data` as part of this list as well?

[2020-02-18 13:37] Windvis commented on #570
I don't think that the support of the framework should decide the support of the website. I don't know the numbers but it feels like a waste to polyfill / transpile code for users that will never visit the website.

But if that's the policy for the official Ember websites :smile:.

[2020-02-18 13:40] mansona commented on #582
I'm pretty sure this is the bug that @pichfl has identified a few times related to Safari not playing well with images whose heights are defined by CSS 🤔 something about intrinsic sizes but I don't fully understand tbh 🙈

[2020-02-18 16:42] pichfl commented on #582
It's a matter of interplay between the browsers flex box / grid layout calculations and the assumed image ratio. It seems Webkit does not trigger a second render pass when images are loaded inside a flex / grid layout. Adding width and height to `<img>` does ensure each image has a defined initial ratio even when no CSS is present and the image isn't loaded yet. This way, the browser can apply all

[2020-02-18 17:06] pichfl commented on #582
To fix this in timely manner, I recommend using `class="well well-16/9"` on the wells to enforce a ratio on the wells.

[2020-02-18 17:16] MelSumner commented on #570
@Windvis we have to because we have a lot of enterprise users, and they don't get to choose the browser they use at work.

[2020-02-18 17:57] ddoria921 commented on #582
Created a PR for this here https://github.com/ember-learn/ember-website/pull/586 based on @pichfl's recommendation and it fixed the issue in Safari

[2020-02-18 17:58] mansona commented on #573
Fixed in https://github.com/ember-learn/ember-website/pull/580

[2020-02-18 17:58] #573 closed

[2020-02-18 18:02] amyrlam commented on #568
@locks thanks, let me take a looksie

[2020-02-18 18:13] Windvis commented on #570
@MelSumner I can't believe those enterprise users will visit the ember website. The target audience of the ember website are primarily web developers right? I can imagine that management types also check the website to see if it's a viable technology, but I would think that even those are more tech savvy people who use modern browsers. All of this is based on my gut feeling, of course 😄 , I don't

[2020-02-18 20:23] mansona commented on #582
Fixed in #586

[2020-02-18 20:23] #582 closed

[2020-02-20 01:33] #568 closed

[2020-02-20 11:35] aalimovs commented on #393
Is the notion link private on purpose? I want to give some feedback on copy that I saw at https://deploy-preview-361--ember-website.netlify.com/, not sure where's best to do that?

[2020-02-20 16:11] kennethlarsen commented on #570
<img width="994" alt="Screenshot 2020-02-20 at 17 11 36" src="https://user-images.githubusercontent.com/1408595/74954869-12309e80-5404-11ea-89ec-056c9502468b.png">
Firefox on Mac

[2020-02-20 16:19] MelSumner commented on #570
@Windvis I definitely know they do, and I definitely know it's a requirement. :) Thanks for the feedback though!

[2020-02-20 16:21] MelSumner opened #590 "CTA for EmberConf component needs a little more CSS work"
Screenshot:
![image](https://user-images.githubusercontent.com/4587451/74955655-96663000-53ca-11ea-9c83-fbd629250c58.png)

This issue effects:
- Firefox on MacOS
- Edge on Windows 10

[2020-02-20 16:22] MelSumner commented on #570
Thanks @kennethlarsen - issue filed here: https://github.com/ember-learn/ember-website/issues/590

[2020-02-20 17:25] ddoria921 commented on #548
Looks like this needs to be fixed in the ember-styleguide, right? Either way I'd like to take a shot at tackling this

[2020-02-21 06:04] acorncom commented on #570
iPhone 8, right most tab kicks off the screen

![99D88BE4-C981-4B39-88DB-9878A8A3D86D](https://user-images.githubusercontent.com/802505/75008409-3062c280-5435-11ea-844c-e2f44e3faa0e.png)

[2020-02-21 10:14] kennethlarsen commented on #570
Mac, Firefox:

The image slider slides a bit up and down as well on Firefox resulting in some unexpected scroll highjacking.

[See the bug in action](https://i.imgur.com/tIOBljt.gifv)

[2020-02-21 13:51] pichfl commented on #548
@ddoria921 that is correct 🙂

[2020-02-21 16:28] mansona commented on #567
Fixed in #585

[2020-02-21 16:28] #567 closed

[2020-02-21 16:59] mansona commented on #590
Fixed in #592

[2020-02-21 16:59] #590 closed

[2020-02-21 17:54] efx opened #596 "cannot navigate directly to the survey link"
# steps

1. navigate directly to the survey: https://emberjs.com/ember-community-survey-2020
2. notice a 404 page:
<img width="1376" alt="Screen Shot 2020-02-21 at 12 53 11" src="https://user-images.githubusercontent.com/472721/75058520-25e21080-54a9-11ea-90fd-ff36bdb2f969.png">

This happens intermittently too when navigating from the banner on the site.

[2020-02-21 18:05] efx commented on #596
The actual survey link is https://tilde.wufoo.com/forms/2020-emberjs-community-survey/. I'll use this for internal circulation.

[2020-02-21 18:19] NullVoxPopuli commented on #184
bad stale bot!

with the new website release, all the images bring the home page's perf score down below 50 for US (and much worse for European folks).

lazy images would be amazing here.
Also, chrome has lazy image support built in... so maybe if firefox also adds that soon, we can get away with just adding the lazy attribute to all of them, so we have built-in fallback for browsers that don't su

[2020-02-21 18:28] #596 closed

[2020-02-21 20:24] ming-codes opened #600 "Double scroll bar on the photos section"
The inner scroll bar doesn't scroll anywhere but it can be sticky and interfere with outer scroll.

The bug is present in Safari but not in Chrome.

[2020-02-22 19:48] abhilashlr commented on #184
Should we start adding `webp` optimised images as well in that case? Has better compression and optimizes for size.

[2020-02-22 19:53] abhilashlr opened #603 "Improve color contrast ratio of survey banner"
<img width="739" alt="image" src="https://user-images.githubusercontent.com/5667722/75098328-aeac9980-55da-11ea-9f4f-b49133f7b37e.png">

The accessibility score of the landing page is at 98! That's always awesome :)
Lighthouse just reported issues at 3 places w.r.t "Color contrast ratio".

Especially this contrast ratio report is on the top banner that says "Take the 2020 community survey".

[2020-02-22 20:05] abhilashlr opened #604 "[Question] Should the website now make use of SW to cache most of the static json requests?"
Most of the static JSON (with loading times in brackets) like
1. team-members/all.json (~350ms)
2. tomsters/all.json (~500ms)
3. users/all.json (~750ms)
4. sponsors/all.json (~350ms)
5. meetups/all.json (~400ms)
6. showcases/all.json (~350ms)

These could be cached and may not require requests from being fired.

Thoughts?

[2020-02-22 20:55] simonihmig commented on #184
We cannot serve webp exclusively: https://caniuse.com/#search=webp

It would be possible to support webp with jpeg as fallback, using `<picture>`, but that's not currently supported by `ember-responsive-image`, and not sure this is easy to add...

[2020-02-23 05:14] abhilashlr commented on #184
[code]

This is something that I do in my blog app to let the browser choose whichever it is compatible with.

[2020-02-23 07:06] NullVoxPopuli commented on #184
Does that still allow the jpg or svg to be used in case of old/legacy browsers like ie11 and Safari?

[2020-02-23 16:35] abhilashlr commented on #184
Yes, I've got this working for jpg in Safari. I can double-check with IE11 with SVGs. Might help: https://css-tricks.com/using-webp-images/

[2020-02-23 16:52] cmitz commented on #600
Do you mean the image grid (in css as `homepage-image-grid`)?

<img width="1010" alt="image" src="https://user-images.githubusercontent.com/5594436/75115979-31c60200-5664-11ea-8300-912d1e1082a4.png">

I have the same in Firefox

[2020-02-23 18:32] ming-codes commented on #600
Yes, that’s it.

[2020-02-23 19:20] locks commented on #604
We need to fingerprint them in that case, so we can invalidate them when they are updated!

[2020-02-24 13:22] mansona commented on #548
fixed in https://github.com/ember-learn/ember-styleguide/pull/295

[2020-02-24 13:22] #548 closed

[2020-02-24 16:19] MelSumner commented on #576
@mansona -
- remove .img-fluid class
- make sure we have the height/width declared
- set that to the max height/width
- find the original files
- convert to svg or png

[2020-02-24 17:50] mansona commented on #600
Fixed in #605

[2020-02-24 17:50] #600 closed

[2020-02-26 14:38] mansona commented on #604
I don't know the value of using a SW for the website 🤔 I know it would add a few more points to our Lighthouse score but I (personally) don't think it's worth the **significantly** higher complexity. And there is always the added risk that we might permanently break some people's experience with no way to undo it 🙈

There are some other low-hanging fruit that we could do. We could just add some ca

[2020-02-26 14:55] mansona commented on #393
@MelSumner I assume we can close this now that we have released? or was there more copy that you still wanted to update?

[2020-02-26 14:56] mansona commented on #393
@aalimovs now that we are live you can either discuss it in Discord, create an issue or create a PR with suggestions. If it's a substantial change I recommend either opening an issue or discussing it in Discord before opening a PR 👍

[2020-02-26 17:35] sivakumar-kailasam commented on #604
We could begin by leveraging the fastboot shoebox to rehydrate the data store so that the first page's json files don't need to be loaded as a part of the page's rehydration. [ember-data-fastboot](https://github.com/cardstack/ember-data-fastboot) & [ember-data-storefront](https://embermap.github.io/ember-data-storefront/docs/api/mixins/fastboot-adapter) have the ability to do this.

[2020-02-26 17:45] mansona commented on #604
I would be interested in trying out ember-data-fastboot to see if it works 🎉 I see some issues where people are mentioning that it still makes the request because of background reloading or something 🤔

I don't want us to move over to ember-data-storefront as I think it's important that we use the default `ember-data` on our main website 👍

[2020-02-26 17:46] mansona commented on #604
and when I say "would be interested" I really mean PRs welcome 😂 also we need to probably experiment with actual Fastboot Rehydration and make sure that any shoebox stuff we do doesn't break that 👍

[2020-02-27 20:06] mansona opened #609 "Add Ember Times to the homepage somewhere"
We currently have a section for "unofficial community resources" on the homepage but we don't have anywhere to put general **official** resources that we want to highlight.

Even if we don't want a general "list of official resources" the Ember Times is important enough that we should give it somewhere pride-of-place on the homepage to inform people about it and encourage them to subscribe 👍

[2020-03-04 21:26] danr1979 opened #615 "Typo in the section titled "Build with the teams that never stop shipping.""
In the sentence above "the their" is wrong.

[2020-03-05 02:03] #615 closed

[2020-03-05 16:58] locks opened #617 "Update LTS Channel page"
Currently the LTS schedule shows too many End Of Life (EOF)versions. It should be updated to show only the current active LTS plus the previous LTS. Currently this is 3.16, 3.12, and 3.8.

After the LTS support schedule table, past LTS versions should be listed, possibly with the date when they were EOF. Example:

[code]

[2020-03-06 13:42] mansona commented on #617
I think this is a great idea @locks 🎉 is there any discussion needed for this or can we just go ahead do you think?

[2020-03-06 14:10] locks commented on #617
This was the outcome of a discussion last team meeting, so we should be good to go!
https://github.com/emberjs/core-notes/blob/master/learning-team/2020-03/2020-03-05.md

[2020-03-07 01:49] locks commented on #289
Still relevant.

[2020-03-07 01:49] locks commented on #289
@vinodhrajamuralidharan can you look into this one?

[2020-03-07 10:24] #422 closed

[2020-03-08 16:44] #393 closed

[2020-03-09 11:43] mansona commented on #570
@MelSumner as this is the last issue left in the Website Redesign Project board I'm wondering what we want to do with it? 🤔

I know there are still some issues with IE11 so I guess that we should keep it open for now, but maybe we can move it to In Progress on the phase 2 board or something? thoughts?

[2020-03-09 19:34] locks commented on #316
Keep open.

[2020-03-10 09:10] mansona commented on #232
@MelSumner do you have any idea if this is still relevant? 🤔 I don't see any mention of organisers in https://emberjs.com/community/meetups/ so I don't see why we would need to automatically populate this data from Meetup.com

Maybe we just close this?

[2020-03-10 09:11] mansona commented on #131
I am very much looking forward to staring on this issue 😍

[2020-03-19 00:38] #570 closed

[2020-04-02 14:45] locks opened #633 "[BUG] Fix spacing in LTS page"
The listing of past LTS editions that follows the table does not have adequate spacing:

![image](https://user-images.githubusercontent.com/32344/78262714-e15e8180-74f8-11ea-82b1-eb2d01679120.png)

[2020-04-02 14:47] locks opened #634 "Confirm timings in LTS schedule"
Recently the releases page for the [LTS channel](https://emberjs.com/releases/lts/) was updated to account for 3.16. I would like the core teams to triple check that the math is correct.

[2020-04-02 17:13] rwjblue commented on #634
The general verbiage seems correct, but the specific dates seem off by a cycle.

Specifically, I would expect to see:

* 3.16 gets bugfixes until 2020-11-12 (36 weeks from when 3.16 was promoted to LTS, aka 2020-03-05)
* 3.16 gets security fixes until 2021-03-18 (54 weeks from when 3.16 was promoted to LTS)
* 3.12 gets bugfixes until 2020-05-28 (36 weeks from when 3.12 was promoted to LTS)
* 3.12

[2020-04-02 17:16] rwjblue commented on #634
@ijlee2 - Does my summary make sense? Can we document this somewhere (to make it easier for the next LTS release update)?

[2020-04-02 17:30] ijlee2 commented on #634
Thanks, @locks and @rwjblue . Let me take a look later in the evening and get back to you.

[2020-04-02 22:38] ijlee2 commented on #634
@rwjblue I read your explanation and checked that I could add 36 and 54 weeks from 3.13.0 or 3.17.0 release date to arrive at the dates that you had provided. Thanks!

I think documenting would be a good solution.

When I had worked on #627, I had wondered if we could create a template helper that would add `x` number of weeks.

Currently, the table shows,

<img width="480" alt="Screen Shot 2020-0

[2020-04-03 09:11] locks commented on #634
I used `date-fns` to build a little release calendar schedule for myself, you can check it out https://glitch.com/edit/#!/emberjs-release-calendar?path=app/controllers/application.js:4:21.

[2020-04-03 12:06] ijlee2 commented on #634
@locks Thanks!

When I clicked on the link, I saw a message that no project was found. Is it, by any chance, not public?

[2020-04-03 14:34] locks commented on #634
I thought it was a public link 😅. Here's the relevant code:

[code]

[2020-04-04 15:02] rwjblue commented on #634
Closed by https://github.com/ember-learn/ember-website/pull/635

[2020-04-04 15:02] #634 closed

[2020-04-05 17:15] alexeykostevich commented on #633
@locks , could I take this issue?

This table lives on the [LTS - Releases - Ember.js](https://emberjs.com/releases/lts) page.

From what I see, the table has been migrated from the legacy [builds](https://github.com/ember-learn/builds) app in https://github.com/ember-learn/ember-website/commit/32eabcb2daf006596ee401f7d6fd0f46b72fa037.

The *builds* app used the following CSS to style this table:

[2020-04-06 14:24] mansona commented on #633
@alexeykostevich it's probably a good idea for us to consider default table styles for the styleguide 🤔

@pichfl what do you think?

[2020-04-06 15:44] alexeykostevich commented on #609
@mansona , this is a great idea — Ember Times is definitely worth to be noticed!

Let me share some my thoughts. I apologise if some don’t make much sense: I’m totally new to Ember and, likely, don’t see the whole picture. However, a fresh look from newcomers can still be helpful :)

Looking at http://emberjs.com, I’ve found out a few things, which might me important:
- There is no real separation

[2020-04-07 10:04] alexeykostevich commented on #633
Sounds good! I would be glad to help with implementing a new ember-styleguide component (either pure CSS or Ember one) when we have an agreement on the design.

[2020-04-07 11:31] pichfl commented on #633
Putting it on my list of todos.

[2020-04-07 15:32] alexeykostevich commented on #564
@MelSumner , I see the expected design for large screens (https://github.com/wifelette/rfcs/blob/master/text/0425-website-redesign.md), but, unfortunately, was not able to find the design for smaller screens. Please, could you let me know if there are any wireframes available?

Am I right that company names should be stacked up vertically on a particular breakpoint (as, for example, https://vuejs.

[2020-04-07 17:07] alexeykostevich commented on #289
@vinodhrajamuralidharan has fixed all the links in the [ember-learn/ember-website](https://github.com/ember-learn/ember-website) repository within https://github.com/ember-learn/ember-website/pull/618.

To close this ticket, we also need to update links in the website header, which are defined in different repositories. Since the Ember website consists of many parts, there are many places where th

[2020-04-08 16:28] alexeykostevich commented on #184
@NullVoxPopuli , just released Firefox 75 [adds support of image lazy loading](https://hacks.mozilla.org/2020/04/firefox-75-ambitions-for-april/).

However, lazy loading is a good addition to responsive images but not a replacement: we can still ask a browser to load an optimized version when an image enters a viewport.

So, the ideal solution looks:
1. Prefer using SVG where possible (which is in

[2020-04-08 16:36] alexeykostevich commented on #184
With regards to WebP, I would not recommend using it while it is not supported by all the major browsers (e.g. Safari and iOS Safari) and supported legacy browsers (IE11).

Even if we can fallback to other bitmap formats (e.g. PNG) using [picture](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture), it might add extra complexity and maintenance work with no much win over using point

[2020-04-27 22:08] maxwondercorn opened #640 "Add markdown linting?"
Do we want to add the markdown linting setup that's used in the guides?  Content probably won't change a lot but we want to make sure we're presenting our best face

[2020-04-29 12:33] mansona commented on #640
I don't think that there is much need for **markdown** linting in this project 🤔 as most of the content that is in Markdown is more like data rather than the bulk of the content on any of the pages.

If the reason you are proposing it is to make sure that alex is run and spellcheck is run on the main content, then we would need to investigate something that would run on the output html rather than

[2020-05-01 23:20] #617 closed

[2020-05-04 20:20] maxwondercorn commented on #640
@mansona Yes, I saw the markdown and thought the new website was generated similar to the guides. I think there is always a need to verify spellchecking and other potential issues (ie. alex) on websites.

There are a lot of eyes on the Ember website so it's likely issues will be caught but it's always nice to reduce cognitive load!

I've never done this myself by but `alex` can be run on html with

[2020-05-24 18:27] MelSumner commented on #640
@maxwondercorn I use a markdown linter locally and it helps, I also don't mind a linter being added to the project. You're right that it reduces cognitive load! Do you have a PR in that adds a markdown linter in particular?

[2020-05-24 19:56] maxwondercorn commented on #640
@MelSumner no I don’t have a PR but I can put one together this weekend

[2020-05-25 12:55] abhilashlr commented on #640
@MelSumner @maxwondercorn I've tried markdown-lint for one of my ember projects using markdown. I can send in a PR quickly if no one has already begun work on this yet.

[2020-05-25 14:16] mansona commented on #640
@abhilashlr @maxwondercorn  did you see my comment above? I don't think that adding markdown linting will give us much value for this project because most of our content is not in Markdown 🤔

[2020-05-25 17:06] maxwondercorn commented on #640
@mansona @abhilashlr @MelSumner I wasn't looking at doing markdown linting per your earlier comments. We'd just copy what's done in the guides for that. I was looking at somehow linting the rendered website.

Since we are using Fastboot and `broccoli-static-site-json` I'm not sure it possible but I take that as a problem to solve.  Probably won't be a PR anytime soon...

[2020-05-25 17:10] MelSumner commented on #640
@mansona yes but some of it is, and the consistency is nice. 👍

[2020-06-15 16:13] amyrlam commented on #566
@Windvis Sorry this has been open for awhile. Do you mean https://github.com/ember-learn/ember-website/blob/94039e9f7c99348dc7eb4b9430b1d95d59586bf1/app/templates/learn/index.hbs#L100, looks like it has a link? Can also take a look when the website is back up, date TBD

[2020-06-15 16:35] Windvis commented on #566
No problem! I haven't been following up with coding related things since I've gone AFK for the last couple of months.

It's been a while since I saw the landings page but I _think_ I was talking about [this section](https://github.com/ember-learn/ember-website/blob/9b837262c8f53f0890bfc6188accdcdc8c58d22a/app/templates/index.hbs#L133). People who don't know ember observer might want to take a look

[2020-06-17 00:04] oliverlangan commented on #479
This does still appear to be an issue: the 'description' text for the link is still a default snippet of text.

<img width="628" alt="image" src="https://user-images.githubusercontent.com/182776/84839963-20c64580-aff3-11ea-881b-6fb4a2144733.png">

I am referring to the 'blockquoted' text here: "Ember.js helps developers be more productive out of the box. Designed with developer ergonomics in mind,

[2020-06-18 23:57] amyrlam commented on #566
@Windvis thanks for the context! Let's keep it open, I can make a quick fix when the code is back up. I rolled back and totally see what you mean now

[2020-06-19 01:07] abhilashlr commented on #584
Since this was related to the old ember website UI, closing this issue.

[2020-06-19 01:07] #584 closed

[2020-06-19 02:06] amyrlam commented on #584
cool, thanks!

[2020-06-21 16:06] MelSumner commented on #640
It seems like we don't have consensus on this so I'm going to go ahead and close the issue. Please do check out the markdown linter extensions available for IDEs like Visual Studio Code, though. Thank you!

[2020-06-21 16:06] #640 closed

[2020-06-26 00:02] happydude commented on #568
https://emberjs.com/releases/ appears to be behind again, it shows "3.18.0 Released May 3" and "3.19.0 Coming the week of May 24"

[2020-06-26 01:48] amyrlam commented on #568
@happydude thanks for the ping! This is a known issue, and there's some discussion around the best way to fix this on this PR: https://github.com/ember-learn/ember-website/pull/655

The blog tends to be a more reliable way of tracking releases, but sometimes the blog post comes later than all the releases: https://blog.emberjs.com/tags/releases.html

Sorry to not have a better answer for you yet a

[2020-06-26 02:13] #604 closed

[2020-06-26 08:46] locks commented on #568
@happydude are you on the Ember Discord server? I'd like to ask you some questions related to this.

[2020-06-27 12:11] abhilashlr commented on #603
I believe this can be closed since the PR has been merged already 👍

[2020-06-27 12:11] #603 closed

[2020-06-27 17:32] amyrlam commented on #603
@abhilashlr thanks!

[2020-06-30 19:57] #576 closed

[2020-08-02 16:53] rwjblue commented on #316
Amazon updated there policy, the link above now states:

As stated above, this means it only applies to **new** buckets created after 2020-09-30.

[2020-08-02 16:53] #316 closed

[2020-08-13 08:56] #564 closed

[2020-08-13 08:56] #289 closed

[2020-08-13 08:56] #633 closed

[2020-08-14 08:42] #184 closed

[2020-08-15 01:23] amyrlam commented on #609
Made a PR to kick off some discussion on implementation: https://github.com/ember-learn/ember-website/pull/662

[2020-09-12 22:49] wbguerin opened #668 "Small typo in Tutorial [BUG]"
An URL in the tutorial confusingly gives a path component in the plural when it should be singular.

URL: [https://guides.emberjs.com/release/tutorial/part-1/interactive-components/](https://guides.emberjs.com/release/tutorial/part-1/interactive-components/)

Current text: This generated a JavaScript file with the same name as our component's template at app/components/**rentals**/image.js.

... s

[2020-09-12 23:32] ijlee2 commented on #668
@wbguerin Thanks for reporting this issue!

Let me transfer the issue to the super rentals tutorials repo, so that Godfrey or another contributor can make the pull request to that repo instead of here.

Would you be able to make the pull request to fix the typo?

[2020-10-03 00:07] miguelcarvalho13 commented on #544
Hi! Can I help with this?
Is this related with this PR https://github.com/ember-learn/ember-website/pull/332?

[2020-10-10 13:55] ef4 opened #669 "Install ember-template-lint and eslint"
## Background

The `ember-website` still relies on `ember-cli-template-lint` and `ember-cli-eslint`. Neither package is maintained anymore. Since Ember 3.17, the recommended path has been to use `ember-template-lint` and `eslint` instead.

## Problem

We'll reinstall lint-related packages so that the app uses the latest versions to maintain code. Doing so will result in lint failures because more

[2020-10-10 15:40] BradenLawrence commented on #669
Hey @ef4, I'd like to help out with this one!

[2020-10-12 01:17] ijlee2 commented on #669
@BradenLawrence Thanks for your interest in helping out with `ember-website`. If you have questions, feel free to ask us!

[2020-10-12 01:57] BradenLawrence commented on #669
Thanks @ijlee2! The changes are making sense for the most part, but I wanted to do a quick sanity check. The linter came back with around 400 errors, mostly for angle brackets, alt text, and `rel="noopener noreferrer"`. It's a lot of changes all spread throughout the repo, and I'm worried a 400+ line diff would be difficult to review. Would it be better to split this into smaller PRs?

[2020-10-12 02:41] ijlee2 commented on #669
@BradenLawrence Sorry, I didn't read the issue description beforehand to understand what @ef4 was asking for. Now I see it.

Let me update the description so that your pull request will involve a small but meaningful work. We can create spin-off tickets to fix lint errors.

Give me about 15 min?

[2020-10-12 02:43] BradenLawrence commented on #669
Awesome, thank you for taking a look at this!

[2020-10-12 03:08] ijlee2 commented on #669
@BradenLawrence I updated the issue's description. In short, you are to reinstall linters for `hbs` and `js`, then suppress errors by adding exceptions to the rules. Hope this works with you!

[2020-10-15 23:26] ijlee2 commented on #669
@BradenLawrence Let me work on this issue today. I want to create follow-up issues for fixing lint errors for EmberFest tomorrow.

[2020-10-16 02:11] #669 closed

[2020-10-16 02:32] ijlee2 opened #671 "Fix CSS lint errors"
## Background

When I upgraded lint-related packages to their latest version in https://github.com/ember-learn/ember-website/pull/670, the app didn't meet the latest standards of [stylelint](https://stylelint.io/). To get the pull request in a mergeable state, I suppressed the lint errors.

## Problem

Let's fix the CSS lint errors. 🌟

## TODOs

- [ ] You can visit [Getting Started](https://stylel

[2020-10-16 02:32] ijlee2 commented on #671
Hi, everyone. I created this issue for [EmberFest Contributors Workshop](http://emberfest.eu/), to be held on October 16. Please allow a workshop participant the chance to claim and work on this issue first.

If the issue is still open after October 16, anyone is welcome to sign up for the issue. Thanks, and happy Hacktoberfest! 🎃

[2020-10-16 03:02] ijlee2 opened #672 "Fix JS lint errors"
## Background

When I upgraded lint-related packages to their latest version in https://github.com/ember-learn/ember-website/pull/670, the app didn't meet the latest standards of [eslint](https://eslint.org/docs/rules/) and [eslint-plugin-ember](https://github.com/ember-cli/eslint-plugin-ember). To get the pull request in a mergeable state, I suppressed the lint errors.

## Problem

Let's fix the

[2020-10-16 03:03] ijlee2 commented on #672
Hi, everyone. I created this issue for [EmberFest Contributors Workshop](http://emberfest.eu/), to be held on October 16. Please allow a workshop participant the chance to claim and work on this issue first.

If the issue is still open after October 16, anyone is welcome to sign up for the issue. Thanks, and happy Hacktoberfest! 🎃

[2020-10-16 03:10] ijlee2 opened #673 "Fix HBS lint errors"
## Background

When I upgraded lint-related packages to their latest version in https://github.com/ember-learn/ember-website/pull/670, the app didn't meet the latest standards of [ember-template-lint](https://github.com/ember-template-lint/ember-template-lint). To get the pull request in a mergeable state, I suppressed the lint errors.

## Problem

Let's fix the HBS lint errors. 🌟

Warning: I **hi

[2020-10-16 03:10] ijlee2 commented on #673
Hi, everyone. I created this issue for [EmberFest Contributors Workshop](http://emberfest.eu/), to be held on October 16. Please allow a workshop participant the chance to claim and work on this issue first.

If the issue is still open after October 16, anyone is welcome to sign up for the issue. Thanks, and happy Hacktoberfest! 🎃

[2020-10-16 03:21] Andy9822 commented on #672
I'll take this one !

[2020-10-16 03:37] ijlee2 commented on #672
Hi, @Andy9822. Thanks for your interest in helping out with the Ember Website!

Yes, if you are able to fix all lint errors, then by the end, you will be able to remove [all 6 exceptions](https://github.com/ember-learn/ember-website/blob/50773b6a94465fa5b723d0b53a3530063c65694a/.eslintrc.js#L34-L39) and run `npm run lint:js` without error.

To confirm before I assign you to this issue, are you par

[2020-10-16 04:07] BradenLawrence commented on #673
Hi @ijlee2! I had done some of this while working on #669, is it alright if I push up what I've got so far?

[2020-10-16 04:09] ijlee2 commented on #673
@BradenLawrence Yes, please! Sorry again for taking over package updates on a short notice.

[2020-10-16 12:33] manurampandit commented on #671
I would like to work on this as part of EmberFest Contributors workshop

[2020-10-16 12:40] ijlee2 commented on #671
Hi, @manurampandit . Thank you for joining the workshop and helping out! Let us know if you have any questions.

[2020-10-16 13:18] ijlee2 commented on #671
Completed in #676.

[2020-10-16 13:18] #671 closed

[2020-10-16 13:19] manurampandit commented on #672
@ijlee2 - If this is not yet picked up, want to pick this up next.

[2020-10-16 13:28] ijlee2 commented on #672
@manurampandit Assigned!

[2020-10-16 13:45] manurampandit commented on #672
Thanks, working on it.

[2020-10-22 00:53] ijlee2 commented on #673
Now that #673 has been merged, 2 lint rules remain as exceptions:

- `no-action`
- `no-html-comments`

The second one existed prior to my upgrading `ember-template-lint` in #670. Let's work on removing the `{{action}}` helpers piecemeal by converting components to Glimmer in subsequent issues and pull requests.

As a result, we can consider this issue completed. 🙌🏼

[2020-10-22 00:53] #673 closed

[2020-10-22 00:55] ijlee2 commented on #672
Now that #678 has been merged, 1 lint rule remain as exception:

- `ember/require-computed-property-dependencies`

I think we can address this rule when we gradually convert components to Glimmer in subsequent issues and pull requests. As a result, we can consider this issue completed. 🙌🏼

[2020-10-22 00:55] #672 closed

[2020-10-22 04:10] #479 closed

[2020-10-22 14:40] manurampandit commented on #609
@mansona - As the [PR ](https://github.com/ember-learn/ember-website/pull/662) by @amyrlam is merged for this, can we mark this as closed (or move forward the discussion if required)

[2020-12-02 04:10] stefanpenner opened #687 "[BUG] LTS Support Verbiage could be improved"
**Describe the bug**

The site's verbiage around LTS support could be improved slightly. Currently, reading the verbiage would imply the following:

[code]

This is due to the rules of an LTS being:

* every 4 four minor versions
* plus the final version before a major release

With the addition of the following rule (or a similar rule), the sites verbiage would be inline with how LTS appears to b

[2020-12-02 20:39] #687 closed

[2020-12-02 20:40] stefanpenner commented on #687
@ijlee2 👍

[2020-12-05 01:50] amyrlam commented on #609
@manurampandit @mansona I'll close this since it's there now:

![image](https://user-images.githubusercontent.com/1372946/101230285-38ed5800-3659-11eb-8dae-be3616945256.png)

[2020-12-05 01:50] #609 closed

[2020-12-05 05:31] manurampandit commented on #609
Thanks a lot @amyrlam for closing this.

[2020-12-11 18:40] #566 closed

[2020-12-11 21:49] jeffdaley commented on #550
@MelSumner Do you have a screenshot of how the "batteries included" section should look?

[2021-01-07 03:27] oo6 commented on #550
The grid dots cover part of the text and tabs, so can't select or click

<img src="https://user-images.githubusercontent.com/6327995/103846765-c9480e00-50d9-11eb-90d9-14ed3c45789d.png" width="400">

[2021-01-07 07:14] ijlee2 commented on #550
@oo6 Thank you for reporting the issue!

@jeffdaley Can you create a bug fix PR? I briefly looked at `<GridDots>` component's template, and am not sure yet whether the solution would be to update the `<svg>` definition or to do something else.

[2021-01-07 14:07] jeffdaley commented on #550
@oo6 Great catch.

Just submitted a PR addressing this issue.

[2021-01-11 06:55] ijlee2 opened #703 "Octanify adapters, models, and serializers"
## Background

Over the next month or so, we want to upgrade `ember-source` to the latest (`v3.24` at the time of writing) and ensure that the app follows latest practices in Ember Octane.

## Description

In #702, I added unit tests for the `application` adapter and the models that we use to load data in emberjs.com. Now that we have tests, let's rewrite the adapter and models to use native class

[2021-01-11 07:41] ijlee2 opened #705 "Remove unused helpers"
## Background

Over the next month or so, we want to upgrade `ember-source` to the latest (`v3.24` at the time of writing) and ensure that the app follows latest practices in Ember Octane.

## Description

There seems to be 2 helpers, `{{asset-map}}` and `{{tag-url-path}}`, that are not being used. Remove these if they are truly unused.

## TODOs

- [ ] From `git` commit history, investigate why t

[2021-01-11 09:06] ijlee2 opened #707 "Colocate components"
## Background

Over the next month or so, we want to upgrade `ember-source` to the latest (`v3.24` at the time of writing) and ensure that the app follows latest practices in Ember Octane.

## Description

In #706, I added default rendering tests for all components. Now that we have tests, let's move the template files so that we follow the default Octane project layout ([flat](https://github.com/

[2021-01-11 11:35] bertdeblock commented on #707
@ijlee2 Maybe useful to add whether a **flat** or **nested** colocation structure is preferred?

[2021-01-11 11:37] ijlee2 commented on #707
@bertdeblock Thanks for the suggestion for clarification. I was thinking of [flat](https://github.com/ember-codemods/ember-component-template-colocation-migrator#flat-component-structure) since it is the default in a new app. I've updated the issue's description. 🙂

[2021-01-11 11:44] bertdeblock commented on #703
@ijlee2 I can pick this up if that's okay?

[2021-01-11 11:45] ijlee2 commented on #703
@bertdeblock Absolutely. Thank you!

[2021-01-11 15:07] czikarito commented on #705
@ijlee2 I can pick this up

[2021-01-11 15:19] ijlee2 commented on #705
@czikarito Great, thank you!

[2021-01-11 18:35] czikarito opened #711 "Title helper from ember-page-title has been deprecated"
Since v5.2.2 version of `ember-page-title` the {{title}} helper has been deprecated, which leads to warnings in the console

WARNING MESSAGE:
Using `{{title}}` helper is deprecated, use `{{page-title}}` instead.

![image](https://user-images.githubusercontent.com/15904756/104223482-f97a0e80-5443-11eb-9fff-16afa683d8ff.png)

[2021-01-11 18:36] #705 closed

[2021-01-11 18:48] ijlee2 commented on #711
@czikarito Thanks! It was on my to-do list for writing up issues.

Can you help me update the helpers to `{{page-title}}`? I can update the issue description to describe what else needs to be done to upgrade `ember-page-title` to the latest version.

Before we make changes, let me first add tests and ensure that every page has a title beforehand. Not every page has a unique title right now.

[2021-01-11 18:50] czikarito commented on #711
@ijlee2 sure I can do it

[2021-01-11 18:51] ijlee2 commented on #711
Awesome, I'll let you know once the tests for page title are merged.

[2021-01-11 19:58] bertdeblock commented on #707
@ijlee2 You can assign me for this one as well.

[2021-01-11 20:02] #703 closed

[2021-01-11 20:19] ijlee2 commented on #707
@bertdeblock Will do, thank you!

I just merged a pull request of mine. Just in case, can you check that you have the latest code?

[2021-01-11 20:24] ijlee2 commented on #711
@czikarito I just merged #713, which checks the page title for most of the routes. For your pull request, can you:

1. Replace `{{title}}` helpers with `{{page-title}}` helper
2. Remove `<title>` element from `app/templates/head.hbs`
3. Run `yarn upgrade ember-page-title --latest` to install `v6` of the addon

Note, the pull request does not involve adding or updating the page title. We can do thi

[2021-01-12 06:11] #707 closed

[2021-01-12 21:21] #711 closed

[2021-01-16 09:43] ijlee2 opened #721 "Rewrite controllers in native class (Part 1 of 2)"
## Background

Over the next month or so, we'll upgrade `ember-source` from `v3.20` to `v3.24` and ensure that we follow recommended practices in Ember Octane.

## Description

In #720, I added unit tests for controllers. These tests, in particular, assert how we transform and sort data before we pass them to a route template.

Now that we have tests, let's rewrite the controllers to use native cl

[2021-01-16 09:49] ijlee2 opened #722 "Rewrite controllers in native class (Part 2 of 2)"
## Background

Over the next month or so, we'll upgrade `ember-source` from `v3.20` to `v3.24` and ensure that we follow recommended practices in Ember Octane.

## Description

In #720, I added unit tests for controllers. These tests, in particular, assert how we transform and sort data before we pass them to a route template.

Now that we have tests, let's rewrite the controllers to use native cl

[2021-01-16 11:11] ijlee2 opened #724 "Rewrite routes in native class (Part 1 of 2)"
## Background

Over the next month or so, we'll upgrade `ember-source` from `v3.20` to `v3.24` and ensure that we follow recommended practices in Ember Octane.

## Description

In #723, I added unit tests for routes. These tests, in particular, assert what data we load in the `model` hook.

Now that we have tests, let's rewrite the routes in native class.

## TODOs

Please update the following rou

[2021-01-16 11:15] ijlee2 opened #725 "Rewrite routes in native class (Part 2 of 2)"
## Background

Over the next month or so, we'll upgrade `ember-source` from `v3.20` to `v3.24` and ensure that we follow recommended practices in Ember Octane.

## Description

In #723, I added unit tests for routes. These tests, in particular, assert what data we load in the `model` hook.

Now that we have tests, let's rewrite the routes in native class.

## TODOs

Please update the following rou

[2021-01-16 14:30] sukima commented on #721
The ESLint is forbidding the use of computed properties in native classes. Considering Ember's Array.sort is very different then Ember's @sort it makes this difficult to easily convert especially since recreating @sort within a getter seems like it is adding tech-debt. Any advice?

[2021-01-16 14:39] ijlee2 commented on #721
Hi, @sukima. Good question! I forgot to write down what one would do for `@sort`.

If you happen to see `@computed`, you can use a getter without caching. For `@sort`, can you add a comment with `eslint-disable-next-line` so that linting will pass?

At a later time, I plan to install `ember-composable-helpers` to take care of sorting. For now, for this issue, let's work on updating the controllers

[2021-01-16 15:00] sukima commented on #721
Would a conversion to VanillaJS work? Was able to recreate the sort in three lines of JS.

[2021-01-16 19:06] #721 closed

[2021-01-17 07:34] #722 closed

[2021-01-17 07:50] #725 closed

[2021-01-18 08:09] czikarito commented on #724
@ijlee2 I can pick this one

[2021-01-18 08:11] ijlee2 commented on #724
@czikarito Great, thank you!

[2021-01-19 07:08] #724 closed

[2021-01-24 20:24] ijlee2 opened #740 "Octanify <EmberSurvey> component (Part 1 of 2)"
## Background

Over the next month or so, we'll upgrade `ember-source` from `v3.20` to `v3.24` and ensure that we follow recommended practices in Ember Octane.

## Description

Parts 1 and 2, together, involve creating a component called `<CtaEmberCommunitySurvey>`. This is a Glimmer component that will eventually replace `<EmberSurvey>` (a classic component).

## Motivation

The `<EmberSurvey>` c

[2021-01-24 21:04] ijlee2 opened #741 "Octanify <EmberSurvey> component (Part 2 of 2)"
## Background

Over the next month or so, we'll upgrade `ember-source` from `v3.20` to `v3.24` and ensure that we follow recommended practices in Ember Octane.

## Description

Parts 1 and 2, together, involve creating a component called `<CtaEmberCommunitySurvey>`. This is a Glimmer component that will eventually replace `<EmberSurvey>` (a classic component).

## Motivation

Please see the Motiva

[2021-01-25 11:56] czikarito commented on #740
@ijlee2 I can pick this

[2021-01-25 12:15] ijlee2 commented on #740
@czikarito Thanks! If you have questions, please feel free to reach out here, or on Discord in `#dev-ember-learning` channel.

[2021-01-25 19:33] czikarito commented on #741
Hi @ijlee2!
quick question

By survey page link you mean passed `@surveyRoute` (`/ember-community-survey-2020` in the example above)?

[2021-01-25 21:15] ijlee2 commented on #741
@czikarito Yep, that's correct.

I was thinking of the case, when a user enters the URL `https://emberjs.com/ember-community-survey-2020` (assuming that we passed the argument `@surveyRoute="ember-community-survey-2020"` to the component in `app/templates/application.hbs`), we shouldn't show them the survey reminder since they are already on the survey page.

[2021-01-25 21:19] #740 closed

[2021-01-27 20:44] #741 closed

[2021-02-05 22:20] wifelette opened #754 "Link to New Ember Job Board"
**Is your feature request related to a problem? Please describe.**
We've nixed the Ember Job Board since there's a community member willing to manage it now, yay! The new site is https://emberwork.com/, and we'd like to link to it.

**Describe the solution you'd like**
As the job board has agreed to remain free, I'd like to add a link to it to some appropriate location on the site. This is both be

[2021-02-05 22:23] wifelette opened #755 "Link to our OpenCollective and/or Github Sponsors pages"
**Is your feature request related to a problem? Please describe.**
Not a _problem_ per say. Over the last few months we've focused a bit on our fundraising, and it's been going decently well, on both OpenCollective and Github Sponsors (the funds come in through the respective channels, but the GH contributions are accounted for in OC, so OC represents a full accounting).

**Describe the solution y

[2021-02-13 22:53] claeusdev commented on #754
@wifelette @mansona I would like to take this one if the ideas about where to put the link are finalized.

[2021-02-16 18:25] #755 closed

[2021-02-19 18:36] MelSumner opened #765 "Add a permanent survey landing page"
We should have a landing page for the survey.

- /survey should be a top-level route
- the survey result pages should be child routes

[2021-02-20 07:29] ijlee2 opened #767 "Automatically alternate background color in ember-community-survey pages"
## Description

Currently, we (maintainers and contributors) have to manually alternate background color in `ember-community-survey` pages. A simplified example is shown below:

[code]

Manually alternating the background color is prone to error and causes more lines of changed code in a pull request than necessary.

Let's use CSS's `:nth-child()` selector to automatically alternate the background

[2021-02-20 21:32] herzzanu commented on #765
@MelSumner I'd be happy to help on this one, but I need some guidance. Do we have a design for the survey landing page?

[2021-02-20 22:25] herzzanu commented on #767
@ijlee2 Thanks for the detailed explanations, it just made the job so much easier. I took a stub at it here https://github.com/ember-learn/ember-website/pull/770 Can you please have a look?

[2021-02-21 09:20] #767 closed

[2021-02-22 04:07] MelSumner commented on #765
Thank you! I will defer to @mansona because there might be an initial plan already.

Eventually we will want to integrate the sub domain but I think we should at least get a page integrated into the website to properly categorize/organize the content.

[2021-02-22 08:35] herzzanu commented on #765
Awesome, thanks. @mansona please don't hesitate to ping me on that :)

[2021-02-23 19:38] wifelette commented on #754
Hi @claeusdev—looks like @herzzanu got to it first and didn't notice your comment, apologies! Hope you found something else to jump in on, we're grateful for any and all help <3

[2021-02-23 19:40] claeusdev commented on #754
@wifelette hah, just saw it as well. I will definitely find something else to jump on

[2021-02-24 08:54] #754 closed

[2021-02-24 18:42] wifelette opened #773 "General Branding Updates"
Putting this here so we can all track the todos.

**Tasks @pichfl is taking care of**:

- [x] Send @wifelette vectors of all the updated Tertiary Logo designs
- [x] Update the not-yet-released `TypedEmber` logo to match the new Tertiary design
- [x] Update the Brand page with all these new assets (#774)
- [x] Fix the weirdness with the _Naming_ section headline on the Brand page

**Tasks @jeffdale

[2021-02-25 16:53] jeffdaley commented on #773
Symbol for Embroider org:
![Embroider Symbol](https://user-images.githubusercontent.com/754957/109187583-08045700-7760-11eb-8fcd-2491f638d925.png)

[2021-03-01 19:26] ef4 commented on #773
Embroider org is now updated:
<img width="554" alt="Screen Shot 2021-03-01 at 2 26 14 PM" src="https://user-images.githubusercontent.com/319282/109548010-18873b00-7a9a-11eb-928d-afc8c05c6d11.png">

[2021-03-06 12:39] ijlee2 opened #788 "Remove 3.16 from LTS on March 17"
## Description

Please update https://emberjs.com/releases/lts by:

- Removing 3.16 from the table of currently supported LTS's
- Listing 3.16 in the paragraph that follows the table, along with the last minor release's date for 3.16

Please also check if https://emberjs.com/releases/beta and https://emberjs.com/releases/release can be updated (i.e. if there have been a new 3.26 beta and a new 3.2

[2021-03-06 17:43] bertdeblock opened #790 "Add link to "Ember Data" on home page?"
Here:
<img width="295" alt="Screenshot 2021-03-06 at 18 42 30" src="https://user-images.githubusercontent.com/7403183/110215759-bec4ad80-7eab-11eb-9135-3bbd9d9097a9.png">

Could be a link to the repo or a link to the `Ember Data` section in the guides?

[2021-03-07 07:44] ijlee2 commented on #790
I think it's a good idea to add the link in the homepage so that people can learn more about Ember Data. I think https://guides.emberjs.com/release/models/ is better than `ember-data` repo.

[2021-03-07 08:09] #790 closed

[2021-03-07 09:48] ijlee2 opened #794 "Use VerticalBarChart to create 2017 survey responses"
## Background

Until recently, the controller files for `ember-community-survey` pages included hundreds of hard-coded configuration objects for Highcharts. These objects were large and only worked with Highcharts. As a result, the objects were difficult to review quickly and posed a technical risk in maintenance.

To solve these issues, I wrote classes that abstract creating a configuration objec

[2021-03-07 09:49] ijlee2 opened #795 "Use VerticalBarChart to create 2018 survey responses"
## Background

Until recently, the controller files for `ember-community-survey` pages included hundreds of hard-coded configuration objects for Highcharts. These objects were large and only worked with Highcharts. As a result, the objects were difficult to review quickly and posed a technical risk in maintenance.

To solve these issues, I wrote classes that abstract creating a configuration objec

[2021-03-07 09:52] ijlee2 opened #796 "Use VerticalBarChart to create 2019 survey responses"
## Background

Until recently, the controller files for `ember-community-survey` pages included hundreds of hard-coded configuration objects for Highcharts. These objects were large and only worked with Highcharts. As a result, the objects were difficult to review quickly and posed a technical risk in maintenance.

To solve these issues, I wrote classes that abstract creating a configuration objec

[2021-03-07 09:57] ijlee2 opened #797 "Use VerticalBarChart to create 2016 survey responses"
## Background

Until recently, the controller files for `ember-community-survey` pages included hundreds of hard-coded configuration objects for Highcharts. These objects were large and only worked with Highcharts. As a result, the objects were difficult to review quickly and posed a technical risk in maintenance.

To solve these issues, I wrote classes that abstract creating a configuration objec

[2021-03-09 06:50] #797 closed

[2021-03-11 17:27] mansona opened #801 "Add more spacing around each section in the teams page"
on https://emberjs.com/teams/ each of the teams seem a little bit bunched up together, and there isn't really much space between each section.

We should look into adding some spacing using the existing spacing helpers that we have in the ember-styleguide https://ember-styleguide.netlify.app/css/helpers/#spacinghelpers

[2021-03-11 18:10] wifelette commented on #773
@mansona @pichfl This issue is complete in terms of my, Ed and Jeff's tasks :) You can potentially separate out the two remaining items into other issues, or just take care of them, but reminder!

[2021-03-12 14:15] pichfl commented on #773
@mansona @wifelette I forgot to ask about this, but what is broken about the headline? It does look normal to me.

[2021-03-12 15:20] jeffdaley commented on #773
Whoops, I took care of that one, just forgot to check it off.

[2021-03-17 22:42] simonihmig opened #807 "[BUG] Inconsistent grid behavior in prod vs. dev"
**Describe the bug**

The grid classes seem to be applied differently when running `ember serve` vs. what you see on emberjs.com. Observed this on the mascots page, but maybe (probably!?) others are involved as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Force your browser into a mobile layout (e.g. Dev Tools iPhone device)
2. Go to http://localhost:4200/mascots
3. See a 2-column l

[2021-03-17 22:48] simonihmig commented on #807
Same for the ember-users page!

Emberjs.com:

![image](https://user-images.githubusercontent.com/1325249/111548539-27007280-877b-11eb-868b-7b57127b4821.png)

localhost:

![image](https://user-images.githubusercontent.com/1325249/111548562-31227100-877b-11eb-9c65-5229adb13945.png)

[2021-03-18 22:18] mansona commented on #807
This seems like a very strange bug 🙈 I has reminded me to add something that should really be added to the website for correctness sake https://github.com/ember-learn/ember-website/pull/809 and I'm wondering if this will fix the bug too 🤔

Is it really only showing a difference in the columns if you have a trailing slash or not? 🙃

[2021-03-22 11:30] fozy81 commented on #794
Hi @ijlee2 , I'd like to give this a go.

[2021-03-22 12:20] ijlee2 commented on #794
Hi, @fozy81. Thank you for helping out! Let me know if you have questions.

[2021-03-23 05:51] #794 closed

[2021-03-23 10:11] fozy81 commented on #795
Hi @ijlee2 , I think I've got the hang of this now. I'd like to try updating this one too.

[2021-03-23 11:35] ijlee2 commented on #795
@fozy81 Great, thank you!

[2021-03-23 12:55] #795 closed

[2021-03-23 13:01] ijlee2 commented on #796
@fozy81 In case you have more time and want to help out with 2019 survey page, I opened a [draft pull request](https://github.com/ember-learn/ember-website/pull/819). Feel free to push commits to the branch `refactor-ember-community-survey-2019`.

(I'm not sure if you will have the permissions to push commits to the branch. If not, you may be able to branch off from `refactor-ember-community-surve

[2021-03-23 14:21] fozy81 commented on #796
@ijlee2 I'll take a look. Hopefully complete tomorrow.

[2021-03-23 14:22] fozy81 commented on #796
Don't think I have permissions to push so will branch off.

[2021-03-23 15:47] bertdeblock opened #821 "The `our public key` link on the Security page shows the 404 page"
https://emberjs.com/security

Doing a full refresh does show the txt file.

[2021-03-23 15:52] bertdeblock commented on #821
The blog link on that page also links to `/blog`, but should be `https://blog.emberjs.com/`.

[2021-03-23 16:05] NullVoxPopuli opened #822 "Clarification on security page's update policy:"
Page: https://emberjs.com/security

Towards the bottom, the page mentions that security patches are applied to `All releases under maintenance`, but it's not clear what all are the "releases under maintenance".

It'd be awesome if that could be clarified somewhere -- and what it means for folks who maybe would want to be a little conservative about their updates, maybe using `Stable - 1` releases

[2021-03-24 06:02] ijlee2 commented on #801
Completed

[2021-03-24 06:02] #801 closed

[2021-03-24 08:04] #821 closed

[2021-03-24 15:53] fozy81 commented on #788
Hi @ijlee2, I've taken a quick look at this issue. I noticed Ember has just rolled out [3.26 stable and 3.27 beta](https://libraries.io/npm/ember-source). So I've just updated the LTS and assume stable and beta version will be updated shortly as part of their release process?

[2021-03-24 16:21] ijlee2 commented on #788
Good question. Yep, let's only update the LTS page. We can update stable and beta pages once 3.26 is announced on the Ember Blog.

[2021-03-24 17:24] fozy81 commented on #788
Great, thanks for the help :+1: . PR ready for review.

[2021-03-24 18:51] fozy81 commented on #822
My two cents on interpreting `All releases under maintenance` is all the current LTS releases (~ 54 weeks) and all the intervening releases between stable and the most recent LTS? Looking at the last security bug CVE-2015-7565. Looks like security was patched on [multiple versions](https://groups.google.com/g/ember-security/c/OfyQkoSuppY) from LTS to stable?

[2021-03-25 11:33] #788 closed

[2021-03-26 14:56] fozy81 commented on #266
Some additional notes, after a little investigating and trying out a few approaches (keep in mind I'm a complete novice and barely know enough SVG to be dangerous!):

**General considerations**
- Do we require both a stylised semver gant chart and additionally a maintenance schedule (bug fixes/security)? They are slightly different and may be too much info to put on one diagram/chart.
-  How best

[2021-03-29 06:58] ijlee2 opened #826 "2021 Contributors' Workshop: Create SplineChart class"
## Background

Until recently, the controller files for `ember-community-survey` pages included hundreds of hard-coded configuration objects for Highcharts. These objects were large and only worked with Highcharts. As a result, the objects were difficult to review quickly and posed a technical risk in maintenance.

To solve these issues, I have been writing classes that abstract creating a configu

[2021-03-29 07:02] ijlee2 commented on #826
Note, this issue is reserved for EmberConf contributors workshop. Please volunteer for the issue if you are participating in the workshop.

[2021-03-29 07:05] ijlee2 commented on #807
Although #809 has been merged, the style issue is still present in `localhost:4200`.

[2021-03-29 13:50] ijlee2 opened #827 "2021 Contributors' Workshop: Address 2 accessibility issues in /editions/octane"
## Description

In this issue, we will fix 2 accessibility issues in `editions.octane` route template. The 2 issues have been [pointed out by our application test](https://github.com/ember-learn/ember-website/blob/b2af864c7704200e1beda0e9866d6650ea50bbd8/tests/acceptance/editions/octane-test.js#L28-L37).

### 1. aria-valid-attr-value

Reference: https://dequeuniversity.com/rules/axe/4.1/aria-valid

[2021-03-29 14:09] jaredgalanis commented on #765
Since this looks like it has been addressed in principal, closing this and adding a note to the website redesign board about subdomain support.

[2021-03-29 14:09] #765 closed

[2021-03-29 14:19] ijlee2 opened #828 "2021 Contributors' Workshop: Address 2 accessibility issues in /sponsors"
## Description

In this issue, we will fix 2 accessibility issues in `sponsors` route template. The 2 issues have been [pointed out by our application test](https://github.com/ember-learn/ember-website/blob/b2af864c7704200e1beda0e9866d6650ea50bbd8/tests/acceptance/sponsors-test.js#L28-L37).

### 1. list

Reference: https://dequeuniversity.com/rules/axe/4.1/list

The problem occurred because we add

[2021-03-29 16:37] ijlee2 commented on #827
@Krashaune Great, thank you for your help! If you have any questions, please feel free to let me know on Discord. You can find me with `@ijlee2`.

[2021-03-29 16:43] MarissaWood commented on #828
I can help with this issue! This will be my first contribution 😊

[2021-03-29 16:46] ijlee2 commented on #828
@MarissaWood Great, thank you for your help! First time contributors are always welcome in the Ember community.

If you have any questions, please feel free to let me know on Discord. You can find me with `@ijlee2`!

[2021-03-29 16:48] mamiller93 commented on #826
I can try this!

[2021-03-29 16:51] ijlee2 commented on #826
@mamiller93 Great, thank you for your help! If you have any questions, please feel free to let me know on Discord. You can find me with `@ijlee2`.

[2021-03-29 17:19] broxsonl commented on #827
For documentation, @Krashaune and I are pairing on this. :)

[2021-03-29 18:28] #828 closed

[2021-03-29 18:48] #827 closed

[2021-04-01 13:03] jaredgalanis opened #832 "Subroute support for survey"
This [issue](https://github.com/ember-learn/ember-website/issues/765) was partially addressed, but there still seems to be an open question about whether we want to provide subroutes support.

cc: @mansona

[2021-04-01 18:38] ijlee2 commented on #832
@jaredgalanis I believe we (@MelSumner and I) do want to support subdomains (subroutes).

I think updating URLs for existing survey result pages isn't urgent, and would like to suggest that we wait working on it until #796, #826, and a code-cleanup issue are done.

The 2021 survey results page, when ready, can use a subdomain immediately. For example, `/survey/results-2021`.

[2021-04-02 09:18] mansona commented on #832
So we're actually talking about **subroutes** here? I wan't to be as clear as possible in this issue because subdomains would imply something like https://survey.emberjs.com or https://2019.emberjs.com which I'm assuming we're not actually talking about @ijlee2 based on your response

If we're talking about Sub-routes then we should not use subdomain anywhere in the description of this issue (or c

[2021-04-02 10:19] ijlee2 commented on #832
Ah, good point. Yep, I was thinking of subroutes.

[2021-04-02 20:51] mansona commented on #832
Perfect! thanks for the clarification @ijlee2 🎉

[2021-04-05 08:17] #826 closed

[2021-04-14 13:52] #773 closed

[2021-04-14 13:57] mansona commented on #773
@wifelette I auto-closed this as I just completed the last item in it, I hope that's ok 😄

[2021-04-15 16:23] mansona commented on #807
@ijlee2 can you give steps for reproduction? I only ask because the steps in the main description of this issue say that you go to `http://localhost:4200/mascots` and then `http://localhost:4200/mascots/` but now that #809 is merged those two should end up at the same route 🤔

[2021-04-15 16:48] ijlee2 commented on #807
Hi, @mansona. Both URLs do end up in http://localhost:4200/mascots/.

However, locally, the app still seems to show 2 columns on mobile width. In production, https://emberjs.com/mascots/ correctly shows 1 column on mobile width.

<img width="900" alt="" src="https://user-images.githubusercontent.com/16869656/114906903-d08a6080-9e1a-11eb-83c2-2b936825d79e.png">

[2021-04-21 09:50] #796 closed

[2021-04-21 09:52] ijlee2 opened #845 "Remove unused Highcharts code (Part 1)"
## Background

Until recently, all Highcharts objects were manually configured, then _merged_ with a default configuration object.

Now that configuration objects are created as an instance of a chart class, we can remove code that had been based on the prior approach.

## Description

We'll remove unused code in a few steps (parts). The goal of the 1st step is to **simplify the API of `<Highchart

[2021-04-21 10:12] ijlee2 commented on #845
@srih4ri Can I get your help with this issue? I think it may help with understanding component arguments (designing a component).

[2021-04-21 10:36] srih4ri commented on #845
Sure!

[2021-04-22 09:57] nickschot commented on #807
I've done some digging and am now quite certain clean-css is causing the issue in builds with css minification enabled (normally just production builds). ember-cli-preprocess-registry unfortunately relies on a very old version of clean-css which seems to have this as a known issue. I think the easiest thing we can do to fix this for now is still using a more specific selector as I did in https://g

[2021-04-22 10:03] ijlee2 commented on #807
@nickschot Using a more specific selector sounds okay with me. Thank you for taking time to investigate the issue.

[2021-04-26 07:42] #845 closed

[2021-04-27 18:05] ijlee2 opened #847 "Remove unused Highcharts code (Part 2)"
## Background

This issue is a continuation of #846.

## Description

### 1. Current approach

In the `<Highcharts>` component class, the getter `chartOptions` calls a function named `createChartOptions` to finalize the chart options.

<details>
<summary><code>get chartOptions()</code></summary>

[code]

</details>

When we take a look at the function in `app/utils/highcharts.js`, we see a mess. I

[2021-04-27 18:46] ijlee2 commented on #847
@srih4ri Part 2 is ready. 😊

[2021-05-07 10:51] #807 closed

[2021-05-16 04:58] #847 closed

[2021-05-18 04:05] ijlee2 commented on #832
The survey result pages have been refactored. We can now ask the public to help out with adding subroutes for each year.

[2021-06-11 00:49] #544 closed

[2021-06-18 19:24] cincodenada commented on #261
I came here because /releases is currently showing 3.27b3 as current, with 3.27 "Coming the week of May 3", when as of this writing the current release is 3.27.5

Looking at the code it looks like there was some work to make this dynamic, the releases/index controller does a `this.model.find()` to find a beta release...but it seems like maybe it's returning the first beta release, although I don't

[2021-06-18 19:28] cincodenada commented on #198
It looks like this can be closed with #637, I think? I came here because I didn't notice the contribution link but now that I look for it it's right there at the bottom

[2021-06-23 04:45] ijlee2 commented on #261
Hi, @cincodenada. Thank you for letting us know that the releases page(s) are out of date. I can update the information (done manually).

[2021-07-30 03:29] NullVoxPopuli commented on #822
Yes, still needs work

[2021-08-17 06:33] ijlee2 opened #862 "[BUG] Filtering in /mascots is not working"
**Describe the bug**

When a user visits https://emberjs.com/mascots, then clicks on one of the filters (e.g. `Meetups`), the user does not see _any_ Meetup-related mascots.

I think a URL malformation is the issue. For some reason, the query parameter `filter` includes a space `%2F` at the end, e.g. `https://emberjs.com/mascots?filter=meetup%2F/`.

When the user clicks on `Meetups`, then on `Smal

[2021-08-19 11:09] claeusdev commented on #862
if nobody has claimed this i would like to @ijlee2

[2021-08-19 16:04] mansona commented on #862
Sorry this is as a result of the thing we need to add the trailing slash to the end of the url: https://github.com/ember-learn/ember-website/blob/main/app/locations/trailing-history.js

It seems like I didn't correctly support query parameters in my implementation 🤔

[2021-08-24 15:44] ijlee2 commented on #862
Hi, @claeusdev. Thank you for volunteering to help. I'll go ahead and assign the issue to you.

@rajakvk: To confirm, were you looking into solving the issue as well?

[2021-09-08 18:37] takshch commented on #832
Is this issue is fixed or can I take this issue!

[2021-09-10 10:58] ijlee2 commented on #832
@takshch Hello, the issue is still open. I will assign it to you.

[2021-10-06 10:49] #862 closed

[2021-11-07 15:01] takshch opened #875 "Click on "raw survey data" redirects to the "Not Found 404" page"
**Describe the bug**
Click on "raw survey data" redirects to the "Not Found 404" page instead of downloading CSV file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://emberjs.com/ember-community-survey-2018/
2. Click on the 'raw survey data.' link.
4. See error: you will be redirected to the 404 route instead of getting CSV downloaded.

**Expected behavior**
Click on "raw surve

[2021-11-25 05:56] #832 closed

[2022-01-09 01:20] NullVoxPopuli commented on #822
Bad bot

[2022-01-26 23:03] ringeringeraja opened #890 ""Black Lives Matter" strip"
Please remove it. This movement is far from being humanist, instead it promotes racial war against whites. We developers don't want to take part in political movements. The computer science community must remain apolitical as every other science. And forcing BLM in 2022 is cringe.

![2022-01-26-195739_809x561_scrot](https://user-images.githubusercontent.com/80406377/151261288-960aa9d5-fea2-439a-bc

[2022-02-03 16:32] jenweber opened #893 "[BUG] pink line under social links"
**Describe the bug**
There is a weird pink line under social links on the page https://emberjs.com/teams/

**To Reproduce**
Visit https://emberjs.com/teams/

**Expected behavior**
No pink line

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img width="1120" alt="Screen Shot 2022-02-03 at 11 28 06 AM" src="https://user-images.githubusercontent.com/16627268/152385339-

[2022-02-17 16:52] locks opened #899 "Community learning resourcec"

[2022-02-17 16:56] chrisrng commented on #899
Doing a dump of links:

FrontendMasters: https://frontendmasters.com/courses/ember-octane/
Weekly Ember ecosystem updates: https://emberweekly.com/
Build Ambitious Apps with Confidence: https://balinterdi.com/rock-and-roll-with-emberjs/
Videos on EmberMap: https://embermap.com/

[2022-02-18 03:43] NullVoxPopuli commented on #899
I have a bunch of links on my work computer
!remindme 4 days

[2022-02-20 13:22] NullVoxPopuli opened #901 "[REQUEST] i18n"
**Describe the solution you'd like**
I would like to see the ember-website support translations.
Not only just displaying them, but providing an easy way for experts in other languages to contribute and improve their language as well.

This is _vitally_ important for Ember's growth as a _English_, while the most common language in the U.S., is only 4th in the world, behind Chinese, Hindi, and Span